---
import { getBlogPosts } from "../../../utils/sanityClient";
import ArrowLink from "../../atoms/ArrowLink.astro";
import BlogPostCard from "../../atoms/BlogPostCard.astro";

// interface Props {
//   posts: 
// }

let blogPosts, title

const { posts, content } = Astro.props;

const blogPostCount = 3

if (posts) {
  title = "Related Posts"
  blogPosts = posts.slice(0, blogPostCount)
} else {
  content && content.heading ? title = content.heading : title = "Latest Posts"
  const allBlogPosts = await getBlogPosts()
  blogPosts = allBlogPosts.slice(0, blogPostCount)
}

---
<section class="blog-posts">
  <div class="section-title">
    <h2>{title}</h2>
    <ArrowLink text="View All" url="/insights" />
  </div>
  <div class="posts">
  { blogPosts.map((post) => (
    <BlogPostCard
      content={post}
    />
  ))}
  </div>
</section>

<style>

  .blog-posts {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    padding: var(--space-lg) var(--page-margin);
  }

  .section-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-2xs);
    flex-wrap: wrap;
  }

  .posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--grid-gap);
  }

  @media screen and (max-width: 768px) {
    .posts {
      grid-template-columns: repeat(1, 1fr);
    }

  }
</style>