---
import { Icon } from "astro-icon/components"
import AtomSanityMedia from "../atoms/atom-sanityMedia.astro"
import AtomTextLabel from "../atoms/atom-textLabel.astro"
import AtomSanityImage from "../atoms/atom-sanityImage.astro"
import GlobalPracticesGrid from "../practices/global-practicesGrid.astro"

const { currentBrand, heading, subheading } = Astro.props
---
<dialog popover id="brand-menu" class="brand-menu" data-color-scheme="brand-02" data-lenis-prevent>
    <div class="section-title">
        <button popovertarget="brand-menu" class="close-button button-reset">
            <Icon name="icon-x" class="close-button" />
        </button>
        <div class="title-text">
            {heading && <h2 class="heading h6">{heading}</h2>}
        </div>
    </div>
    <GlobalPracticesGrid />
</dialog>

<style>
    .brand-menu {
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        gap: var(--space-xl);
        /* gap: 20svh; */
        border: none;
        width: 100%;
        height: 100dvh;
        max-height: 100dvh;
        overflow-y: auto;
        padding-block: var(--header-padding-block) var(--space-2xl);
        opacity: 0;
        transition: opacity var(--anim-md), display var(--anim-md) allow-discrete;
        padding-inline: var(--page-margin);

    }

    
    .brand-menu:popover-open {
        display: flex;
        opacity: 1;
    }

    @starting-style {
        .brand-menu:popover-open {
            display: flex;
            opacity: 0;
        }
    }

    .section-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--space-md);
    }

    .heading {
        margin: 0;
    }

    .close-button {
        align-self: flex-start;
        background-color: var(--color-foreground);
        color: var(--color-background);
        aspect-ratio: 1 / 1;
        border-radius: var(--radius-sm);
        padding: var(--space-xs);
        display: flex;
        place-items: center;
    }

    .close-button > :global(svg) {
        margin: 0;
        padding: 0;
        color: inherit;
        width: var(--icon-md);
        height: var(--icon-md);
    }

    @media screen and (width <= 768px) {
        .brand-menu {
            padding-block: var(--space-sm) var(--space-2xl);
        }
    }

</style>