:root {

    --anim-duration-sm: 0.3s;
    --anim-duration-md: 0.8s;
    --anim-duration-lg: 1.2s;
    
    --anim-easing: cubic-bezier(0.22, 1, 0.36, 1);
    --anim-sm: var(--anim-duration-sm) var(--anim-easing);
    --anim-md: var(--anim-duration-md) var(--anim-easing);
    --anim-lg: var(--anim-duration-lg) var(--anim-easing);

}


/* Fade */

[data-animate-style="fade"][data-animate-viewport="true"],
[data-animate-style="fade"][data-animate-load="true"] {
  opacity: 0;
  transition: opacity var(--anim-lg);
}

[data-animate-style="fade"][data-animate-viewport="false"],
[data-animate-style="fade"][data-animate-load="false"] {
  opacity: 1;
  transition: opacity var(--anim-lg);
}

/* Fade Up */

[data-animate-style="fade-up"][data-animate-viewport="true"],
[data-animate-style="fade-up"][data-animate-load="true"] {
  opacity: 0;
  translate: 0 2em;
  transition: opacity var(--anim-lg), translate var(--anim-lg);
}

[data-animate-style="fade-up"][data-animate-viewport="false"],
[data-animate-style="fade-up"][data-animate-load="false"] {
  opacity: 1;
  translate: 0 0;
  transition: opacity var(--anim-lg), translate var(--anim-lg);
}