* {
    /* Browser Resets */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html[data-loading="true"] {
  cursor: wait;
}

body {
  margin: 0;
  padding: 0;
}
