:root {
    --button-padding-block: var(--space-xs);
    --button-padding-inline: var(--space-sm);
    --button-border-radius: var(--radius-sm);
}

button,
.button,
input[type="submit"],
.hs-button {
    cursor: pointer;
    border: none;
    padding: var(--button-padding-block) var(--button-padding-inline);
    background-color: var(--color-brand);
    color: var(--color-brand-contrast);
    outline: none;
    border-radius: var(--button-border-radius);
    min-width: 120px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover,
.button:hover,
input[type="submit"]:hover,
.hs-button:hover {

}

button.button-reset {
    color: currentColor;
    min-width: unset;
    padding: 0;
    background-color: transparent;
    border: none;
}

button:focus-visible,
.button:focus-visible,
input[type="submit"]:focus-visible,
.hs-button:focus-visible,
a:focus-visible {
    outline-offset: 2px;
    outline: 2px solid var(--color-focus);
    border-radius: var(--radius-sm);
}
