:root {
    /* Primitives */
    --color-ink: #1C1C1C;
    --color-subdued: #3A3A3A;
    --color-reverse: #ffffff;

    --color-darkest: #000000;
    --color-darker: #484A4C;
    --color-dark: #686C6D;
    --color-neutral: #A5A7A8;
    --color-light: #DBDBDB;
    --color-lighter: #EDEDED;
    --color-lightest: #ffffff;

    --color-blue: #2749ff;
    --color-blue-light: color-mix(in srgb, var(--color-lightest) 10%, var(--color-blue));
    --color-blue-lighter: color-mix(in srgb, var(--color-lightest) 25%, var(--color-blue));
    --color-blue-contrast-subdued: color-mix(in srgb, var(--color-lightest) 70%, var(--color-blue));

    --color-orange: #ff5831;
    --color-orange-light: #ffe7b6;

    --color-success: rgb(0, 255, 123);
    --color-error: red;
    --color-focus: rgb(60, 0, 255);

    --background-blur: blur(10px);
    --color-glass-dark: color-mix(in srgb, var(--color-darkest) 40%, transparent);
    --color-glass-light: color-mix(in srgb, var(--color-lightest) 40%, transparent);
}

::selection {
    background: var(--color-brand);
    color: var(--color-brand-contrast);
}

html,
.color-reset,
[data-color-scheme="glass-light"],
html [data-color-scheme="brand-01"] {
    --color-foreground: var(--color-darkest);
    --color-foreground-secondary: var(--color-dark);
    --color-background: var(--color-lightest);
    --color-background-secondary: var(--color-lighter);

    --color-border: var(--color-light);
    --color-accent: var(--color-foreground);

    --color-accent: var(--color-darkest);

    /* Buttons */
    --button-primary-foreground: var(--color-darkest);
    --button-primary-background: var(--color-lighter);
    --button-primary-foreground-hover: var(--color-lightest);
    --button-primary-background-hover: var(--color-darkest);

    --button-secondary-foreground: var(--color-darkest);
    --button-secondary-foreground-hover: var(--color-lightest);
    --button-secondary-background-hover: var(--color-darker);
}

[data-color-scheme="secondary"] {
    --color-background: var(--color-lighter);
    --color-background-secondary: var(--color-light);

    --button-primary-foreground: var(--color-lightest);
    --button-primary-background: var(--color-darker);

    --button-secondary-foreground-hover: var(--color-darkest);
    --button-secondary-background-hover: var(--color-lightest);
    /* --color-border: var(--color-dark); */
}

html .color-invert,
[data-color-scheme="glass-dark"],
[data-color-scheme="invert"],
[data-color-scheme="brand-02"] {

    --color-foreground: var(--color-lightest);
    --color-foreground-secondary: var(--color-neutral);
    --color-background: var(--color-darkest);
    --color-background-secondary: color-mix(in srgb, var(--color-darkest) 85%, var(--color-lightest));

    --color-border: var(--color-darker);

    /* Buttons */
    --button-primary-foreground: var(--color-darkest);
    --button-primary-background: var(--color-lightest);
    --button-primary-foreground-hover: var(--color-darkest);
    --button-primary-background-hover: var(--color-light);

    --button-secondary-foreground: var(--color-lightest);
    --button-secondary-foreground-hover: var(--color-darkest);
    --button-secondary-background-hover: var(--color-neutral);
}

html,
.color-reset,
[data-color-scheme="invert"],
[data-color-scheme="brand-01"],
[data-color-scheme="brand-02"] {
    color: var(--color-foreground);
    background-color: var(--page-background, var(--color-background));
}

[data-color-scheme="glass-dark"],
[data-color-scheme="glass-light"] {
    backdrop-filter: var(--background-blur);
    -webkit-backdrop-filter: var(--background-blur);
    color: var(--color-foreground);
}

[data-color-scheme="glass-dark"] {
    background-color: var(--color-glass-dark);
}

[data-color-scheme="glass-light"] {
    background-color: var(--color-glass-light);
}

