:root {
    /* Primitives */
    --color-ink: #1C1C1C;
    --color-subdued: #3A3A3A;
    --color-reverse: #ffffff;

    --color-darkest: #000000;
    --color-darker: #484A4C;
    --color-dark: #686C6D;
    --color-neutral: #A5A7A8;
    --color-light: #DBDBDB;
    --color-lighter: #EDEDED;
    --color-lightest: #ffffff;

    --color-blue: #2749ff;
    --color-blue-light: #d2eefc;
    --color-orange: #ff5831;
    --color-orange-light: #ffe7b6;

    --color-success: rgb(0, 255, 123);
    --color-error: red;
    --color-focus: rgb(60, 0, 255);
    --color-border-ink: rgba(0, 0, 0, 0.1);
    --color-border-reverse: rgba(255, 255, 255, 0.2);

    /* Gradients */
    --gradient-ink: linear-gradient(135deg, #2D2D2D 0%, #3A3A3A 100%);
    --gradient-reverse: linear-gradient(135deg, #eaeaea 0%, #bfbfbf 100%);

    --color-video-player-accent: var(--color-blue);

    --background-blur: blur(10px);
    --background-blur-color: color-mix(in srgb, var(--color-darkest) 40%, transparent);
}

/* Default Colors */
html,
html[data-theme="dark"] .color-invert {
    --color-foreground: var(--color-darkest);
    --color-foreground-secondary: var(--color-dark);
    --color-background: var(--color-lightest);
    --color-background-secondary: var(--color-lighter);
    --color-border: var(--color-light);

    --color-foreground-translucent: color-mix(in srgb, var(--color-foreground) 60%, transparent);
    --color-background-translucent: color-mix(in srgb, var(--color-background) 60%, transparent);

    --color-foreground-secondary-translucent: color-mix(in srgb, var(--color-foreground-secondary) 60%, transparent);
    --color-background-secondary-translucent: color-mix(in srgb, var(--color-background-secondary) 60%, transparent);
    /* --gradient-primary: var(--gradient-reverse); */
}

/* Dark Colors */
html .color-invert,
html[data-theme="dark"] {
    --color-foreground: var(--color-lightest);
    --color-foreground-secondary: var(--color-light);
    --color-background: var(--color-darkest);
    --color-background-secondary: var(--color-darker);
    --color-border: var(--color-neutral);

    
    --color-foreground-translucent: color-mix(in srgb, var(--color-foreground) 60%, transparent);
    --color-background-translucent: color-mix(in srgb, var(--color-background) 60%, transparent);

    --color-foreground-secondary-translucent: color-mix(in srgb, var(--color-foreground-secondary) 60%, transparent);
    --color-background-secondary-translucent: color-mix(in srgb, var(--color-background-secondary) 60%, transparent);
    /* --gradient-primary: var(--gradient-reverse); */
}
    
html {
    color: var(--color-foreground);
    background-color: var(--page-background, var(--color-background));
}

/* DO NOT USE */
.glass-ink {
    backdrop-filter: var(--background-blur);
    -webkit-backdrop-filter: var(--background-blur);
    background-color: color-mix(in srgb, var(--color-ink) 40%, transparent);
}

.glass-dark {
    backdrop-filter: var(--background-blur);
    -webkit-backdrop-filter: var(--background-blur);
    background-color: var(--background-blur-color);
    --color-foreground: var(--color-lightest);
    --color-foreground-secondary: var(--color-light);
    --color-background: var(--color-darkest);
    --color-background-secondary: var(--color-darker);
    
}

.glass-lightest {
    backdrop-filter: var(--background-blur);
    -webkit-backdrop-filter: var(--background-blur);
    background-color: color-mix(in srgb, var(--color-lightest) 40%, transparent);
    color: var(--color-darkest);
}