:root {
    --form-padding-block: 0.25rem;
    --form-padding-inline: 0.6rem;
    --form-gap-block: var(--space-xs);
    --form-gap-inline: var(--space-xs);
    --form-toggle-size: 1rem;
    --form-accent-color: var(--color-brand);
    --form-border-radius: var(--radius-sm);
    --active-label-scale: 0.8;
    --input-label-gap: var(--space-xs);
    --input-height: calc(1em + var(--form-padding-block) * 2 + 1em * var(--active-label-scale) + var(--input-label-gap));
    /* --input-height: 3rem; */
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: var(--form-gap-block);
    margin-bottom: var(--space-md);
    max-width: 55rem;
}

fieldset {
    border: none;
}

label {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

label[hidden] {
    visibility: hidden;
}

input,
select {
    height: var(--input-height);
}

input,
select,
textarea {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    margin: 0;
    --min-size: var(--form-input-min-size);
    --base-size: var(--form-input-base-size);
    font-family: inherit;
    background-color: var(--color-background-secondary);
    border: 1px solid transparent;
    color: var(--color-foreground);
    padding-block: calc(1rem * var(--active-label-scale) + var(--form-padding-block) + 0.2rem ) var(--form-padding-block);
    padding-inline: var(--form-padding-inline);
    border-radius: var(--form-border-radius);
}

/* Cursor */
input:is([type="date"]),
.form-field:has(input:is([type="checkbox"])) label,
select {
    cursor: pointer;
}

/* --- Hover States --- */
input:is([type="text"], [type="email"], [type="number"], [type="tel"]),
select {
    transition: border var(--anim-sm), background-color var(--anim-sm);
}

input:is([type="text"], [type="email"], [type="number"], [type="tel"]):hover,
select:hover {
    border: 1px solid var(--color-foreground);
    background-color: var(--color-background);
}


/* --- Base Field Types --- */

.form-field:has(input:is([type="text"], [type="email"], [type="date"], [type="number"], [type="tel"])) label {
    pointer-events: none;
}

input[type="file"] {
    border: none;
    padding: var(--form-padding-inline) var(--form-padding-inline);
    height: auto;
}

input[type="radio"],
input[type="checkbox"] {
    position: relative;
    width: var(--form-toggle-size) !important;
    height: var(--form-toggle-size) !important;
    padding: 0 !important;
    transition: border var(--anim-sm), background-color var(--anim-sm);
    flex-shrink: 0;
}

input[type="radio"]:hover,
input[type="checkbox"]:hover {
    border: 1px solid var(--color-foreground);
}


input[type="radio"]:checked,
input[type="checkbox"]:checked {
    /* background-color: var(--form-accent-color); */
    background-color: var(--color-foreground);
}

input[type="radio"]::before,
input[type="checkbox"]::before {
    content: "";
    position: absolute;
    inset: 50% 50%;
    translate: -50% -50%;
    background-color: var(--color-background);
    opacity: 0;
}

input[type="radio"],
input[type="radio"]::before {
    border-radius: var(--radius-rounded);
    width: 50%;
    height: 50%;
}

input[type="radio"]:checked::before,
input[type="checkbox"]:checked::before {
    opacity: 1;
}

input[type="checkbox"]::before {
    width: 100%;
    height: 100%;
    transform-origin: bottom left;
    clip-path: polygon(17% 54%, 28% 43%, 38% 54%, 70% 22%, 81% 33%, 38% 75%, 17% 54%);
    /* clip-path: polygon(17% 54%, 28% 43%, 38% 54%, 70% 22%, 81% 33%, 38% 75%, 17% 54%); */
}

input[type="submit"] {
    align-self: flex-start;
    color: inherit;
}

textarea {
    padding-block: var(--form-padding-inline);
}

/* --- Hide placeholder text --- */
input::placeholder {
    visibility: hidden;
}

/* --- Focus States --- */
input:focus-visible,
select:focus-visible,
textarea:focus-visible {
    outline: 1px solid var(--color-focus);
}

input:active,
select:active,
textarea:active {
    outline: 1px solid transparent;
}

/* --- Floating Labels: Default --- */
.form-field:has(input:is([type="text"], [type="email"], [type="number"], [type="date"], [type="tel"]):placeholder-shown) > label,
/* .form-field:has(textarea) > label, */
.form-field:has(input:placeholder-shown) > label {
    scale: 1;
    left: var(--form-padding-inline);
    top: calc( var(--input-height) / 2 );
    translate: 0 -50%;
}

/* --- Floating Labels: Active --- */
.form-field:has(input:is([type="text"], [type="email"], [type="number"], [type="date"], [type="tel"])) > label,
.form-field:has(input:is([type="text"], [type="email"], [type="number"], [type="date"], [type="tel"]):placeholder-shown):focus-within > label,
.form-field:has(select) > label {
    position: absolute;
    left: var(--form-padding-inline);
    top: var(--form-padding-block);
    translate: 0 0;
    scale: var(--active-label-scale);
    transform-origin: 0% 50%;
    z-index: 1;
    transition: top var(--anim-sm), scale var(--anim-sm), translate var(--anim-sm);
}

/* .form-field:has(textarea) > label  {
    scale: 1;
} */


/* Carat */
.form-field:has(select)::after {
    --size: 0.8em;
    --thickness: 10%;
    content: "";
    position: absolute;
    top: 45%;
    transform-origin: 30% 30%;
    right: calc(var(--form-padding-inline) + var(--size) / 2);
    width: var(--size);
    height: var(--size);
    background-color: red;
    z-index: 3;
    rotate: 225deg;
    transition: rotate var(--anim-sm);
    clip-path: polygon(0% 0%, 100% 0%, 100% var(--thickness), var(--thickness) var(--thickness), var(--thickness) 100%, 0% 100%, 0% 0% );
}


/* --- Input Lists --- */

.inputs-list {
    margin: 0;
    padding-block: var(--space-xs);
    padding-inline: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-xs);
}

.inputs-list .input-list-item {
    display: flex;
    flex-direction: row;
}

.form-field:has(input:is([type="radio"], [type="checkbox"])) .inputs-list .input-list-item,
.form-field:has(input:is([type="radio"], [type="checkbox"])) .inputs-list .input-list-item label {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--space-2xs);
}

/* Toggle Buttons -- Stylistic replacement of Radio & Checkboxes  */

.toggle-button-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

.form-field:has(.toggle-button-list) {
    padding-block: var(--space-sm);
}

.toggle-button-list .toggle-button {
    position: relative;
    padding: var(--space-2xs) var(--space-xs);
}

.toggle-button-list .toggle-button input:is([type="checkbox"], [type="radio"]) {
    position: absolute;
    inset: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: -1;
    background-color: transparent;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-sm);
    transition: color var(--anim-sm), background-color var(--anim-sm), border var(--anim-sm);
}

.toggle-button-list .toggle-button input:is([type="checkbox"], [type="radio"]):hover {
    background-color: var(--color-background-secondary);
}

.toggle-button-list .toggle-button input:is([type="checkbox"], [type="radio"])::before {
    display: none;
}

.toggle-button-list .toggle-button input:is([type="checkbox"], [type="radio"]):checked {
    background-color: var(--color-foreground);
}

.toggle-button-list .toggle-button:has(input:is([type="checkbox"], [type="radio"]):checked) {
    color: var(--color-background);
}

.form-field:has(.inputs-list) {
    padding-block: var(--space-xs);
    flex-direction: column;
}

/* --- Layout --- */
.form-field-group {
    display: flex;
    flex-direction: row;
    gap: var(--form-gap-inline);
}

/* Hide form group if all fields are hidden */
/* .form-field-group:not(:has(input:not([hidden]))) {
    display: none;
} */

.form-field {
    flex: 0 1 100%;
    max-width: 100%;
    min-width: 0;
    display: flex;
    max-width: 100%;
    flex-direction: column;
    gap: var(--space-2xs);
    position: relative;
}

.form-field > p {
    margin: 0;
}

/* --- Legal Consent --- */
.legal-consent {
    margin-bottom: var(--space-2xs);
}

.legal-consent:not(:has(*)) {
    display: none;
}

.legal-consent > p {
    --min-size: 12;
    --base-size: 12;
    letter-spacing: 0;
    margin: 0;
    font-weight: 400;
    color: var(--color-foreground-secondary);
}

.form-field .optional-label {
    color: var(--color-foreground-secondary);
    margin-inline-start: 0.5ch;
}

.field-description {
    color: var(--color-foreground-secondary);
}

/* --- Browser Resets --- */

/* Annoyingly, we have to do this to control date highlight color */
input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
    background-color: var(--color-brand);
    color: var(--color-brand-contrast);
    outline: none;
}

/* Frustratingly, we have to hide the browser default calendar icon */
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

@media screen and (width <= 768px) {
    .form-field-group {
        flex-direction: column;
    }
}