:root {
    --form-padding-block: var(--space-xs);
    --form-padding-inline: var(--space-2xs);

    --form-gap-block: var(--space-sm);
    --form-gap-inline: var(--space-xs);

    --form-toggle-size: 1em;
    --form-accent-color: var(--color-brand);

    --form-border-radius: var(--radius-sm);

    --input-height: 40px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--form-gap-block);
}

label {
    display: flex;
    flex-direction: row;
    /* align-items: stretch; */
    /* gap: var(--space-xs); */
    flex-grow: 1;
    z-index: 1;
    transform-origin: 0% 50%;
    transition: top var(--anim-sm), scale var(--anim-sm);
}

.hs-form-field > label,
.hs-form-field:has(input:placeholder-shown):has(input:focus) > label {
    position: absolute;
    top: 0.1em;
    left: var(--form-padding-inline);
    scale: 0.8;
}

.hs-form-field:has(.hs-field-desc) {
    /* flex-direction: column-reverse; */
}

.hs-form-field:has(input:placeholder-shown) label {
    scale: 1;
    top: calc( (1em + var(--form-padding-block)) / 2 );
}

/* label:has(input:active) {
    rotate: 2deg;
} */

fieldset {
    max-width: unset !important;
}

/* label span,
.hs-form-required {
    display: inline;
} */

/* label, */
.hs-field-desc {
    position: absolute;
    right: var(--form-padding-inline);
    display: block;
    margin: 0;
    padding: 0;
    justify-self: flex-end;
    width: auto;
}

.hs-field-desc {
    color: var(--color-foreground-secondary);
}

.hs-form-field {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xs);
    position: relative;
}

.hs-datepicker button {
    padding: initial;
    min-width: initial;
}

.input {
    margin: 0 !important;
    padding: 0;
}

input::placeholder {
    color: var(--color-foreground-secondary);
}

input,
select {
    --min-size: var(--form-input-min-size);
    --base-size: var(--form-input-base-size);
    outline: none;
    margin: 0;
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    font-family: inherit;
    height: var(--input-height);
}

textarea {
    --min-size: var(--form-input-min-size);
    --base-size: var(--form-input-base-size);
    font-family: inherit;
}

select {
    cursor: pointer;
}

input,
select,
textarea {
    /* background-color: transparent; */
    background-color: var(--color-background-secondary);
    border: 1px solid transparent;
    color: var(--color-foreground);
    padding: var(--form-padding-block) var(--form-padding-inline) 0;
    border-radius: var(--form-border-radius);
}

input[type="file"],
input[type="submit"] {
    border: none;
    padding: var(--form-padding-block) var(--form-padding-inline);
}


/* input[type="radio"] {

} */

input[type="radio"],
input[type="checkbox"] {
    position: relative;
    width: var(--form-toggle-size) !important;
    height: var(--form-toggle-size) !important;
    padding: 0 !important;
}

input[type="radio"]::before,
input[type="checkbox"]::before {
    content: "";
    --size: 75%;
    width: var(--size);
    height: var(--size);
    position: absolute;
    inset: 50% 50%;
    translate: -50% -50%;
    background-color: var(--form-accent-color);
    opacity: 0;
}

input[type="radio"],
input[type="radio"]::before {
    border-radius: var(--radius-rounded);
}

input[type="radio"]:checked::before,
input[type="checkbox"]:checked::before {
    opacity: 1;
}

fieldset.form-columns-1 .input input.hs-input,
fieldset.form-columns-2 .input input.hs-input,
fieldset.form-columns-1 .input select.hs-input,
fieldset.form-columns-2 .input select.hs-input,
fieldset.form-columns-1 .input textarea.hs-input,
fieldset.form-columns-2 .input textarea.hs-input {
    width: 100%;
}

.form-columns-2,
.fields-inline {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;
    gap: var(--form-gap-inline);
}

.form-columns-2 label,
.fields-inline label {
    flex: 1 0 auto;
}

.inputs-list {
    margin: 0;
    padding-block: var(--space-xs);
    padding-inline: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-xs);
}

.inputs-list li {
    list-style: none;
}

/* label {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xs);
    flex: 0 0 auto;
} */

label.toggle {
    display: flex;
    flex-direction: row;
}

.hs-form-radio-display,
.hs-form-checkbox-display,
.hs-form-booleancheckbox-display {
    cursor: pointer;
    --min-size: var(--form-input-min-size);
    --base-size: var(--form-input-base-size);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-2xs);
}

.legal-consent-container .hs-form-booleancheckbox-display>span {
    margin-left: 0 !important;
}

.hs-error-msgs {
    padding: 0;
    align-items: stretch;
}

.hs-error-msg {
    background-color: var(--color-error);
    color: var(--color-reverse);
    border-radius: var(--form-border-radius);
    padding: var(--space-2xs);
    text-align: center;
}

.hs-richtext * {
    --min-size: var(--form-label-min-size);
    --base-size: var(--form-label-base-size);
}

.hs-richtext:last-child p:last-child {
    margin-bottom: 0;
}