:root {
    /* Spacing */
    --space-3xs: max(2px, calc((2 / var(--viewport-desktop)) * 100vw));
    --space-2xs: max(5px, calc((5 / var(--viewport-desktop)) * 100vw));
    --space-xs: max(10px, calc((10 / var(--viewport-desktop)) * 100vw));
    --space-sm: max(15px, calc((15 / var(--viewport-desktop)) * 100vw));
    --space-md: max(20px, calc((20 / var(--viewport-desktop)) * 100vw));
    --space-lg: max(25px, calc((30 / var(--viewport-desktop)) * 100vw));
    --space-xl: max(30px, calc((40 / var(--viewport-desktop)) * 100vw));
    --space-2xl: max(40px, calc((60 / var(--viewport-desktop)) * 100vw));
    --space-3xl: max(60px, calc((80 / var(--viewport-desktop)) * 100vw));
    --space-4xl: max(80px, calc((120 / var(--viewport-desktop)) * 100vw));

    --radius-none: 0px;
    --radius-sm: 2px;
    --radius-md: 6px;
    --radius-lg: 12px;
    --radius-rounded: 100vw;
  
    --page-margin: clamp(20px, 2vw, 60px);
    --content-margin: 1440px;
    --header-height: min(var(--space-4xl), 15lvh);
    --button-height: 40px;
    --grid-gap: var(--space-md);
  
    /* Icons */
    --icon-sm: 10px;
    --icon-md: 16px;
    --icon-lg: 20px;
  }
  