:root {
    /* Spacing */
    --space-3xs: max(2px, calc((2 / var(--viewport-desktop)) * 100vw));
    --space-2xs: max(5px, calc((5 / var(--viewport-desktop)) * 100vw));
    --space-xs: max(10px, calc((10 / var(--viewport-desktop)) * 100vw));
    --space-sm: max(15px, calc((15 / var(--viewport-desktop)) * 100vw));
    --space-md: max(20px, calc((20 / var(--viewport-desktop)) * 100vw));
    --space-lg: max(25px, calc((30 / var(--viewport-desktop)) * 100vw));
    --space-xl: max(30px, calc((40 / var(--viewport-desktop)) * 100vw));
    --space-2xl: max(40px, calc((60 / var(--viewport-desktop)) * 100vw));
    --space-3xl: max(60px, calc((80 / var(--viewport-desktop)) * 100vw));
    --space-4xl: max(80px, calc((120 / var(--viewport-desktop)) * 100vw));

    --radius-none: 0px;
    --radius-sm: 3px;
    --radius-md: 6px;
    --radius-lg: 12px;
    --radius-rounded: 100vw;
  
    --page-margin: clamp(20px, 2vw, 60px);
    --content-margin: 1440px;
    --button-height: 40px;

    --grid-gap: var(--space-md);
    --grid-template-default: 1fr 2fr;
    --grid-template-extreme-1: 1fr 1.5fr 2fr;
    --grid-template-extreme-2: .5fr 1.5fr 2.5fr;
    --grid-template-extreme-3: .25fr 1.5fr 2.75fr;
    
    --header-padding-block: var(--space-sm);
    --header-element-height: clamp(40px, 2rem, 100px);
    --header-height: calc(var(--header-element-height) + var(--header-padding-block) * 2);

    --notification-menu-width: 28rem;

    /* Icons */
    --icon-sm: 12px;
    --icon-md: 16px;
    --icon-lg: 20px;



    /* --pixel-border-height: 30px; */
  }
  
  @media screen and (max-width: 768px) {
    :root {
      --header-height: 50px;
    }
  }