
@font-face {
    font-family: 'Suisse Intl';
    src: url('/SuisseIntl-Regular.otf') format('otf'),
            url('/SuisseIntl-Regular.woff2') format('woff2'),
            url('/SuisseIntl-Regular.woff') format('woff');
    ;
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('/SuisseIntl-Italic.otf') format('otf'),
            url('/SuisseIntl-Italic.woff2') format('woff2'),
            url('/SuisseIntl-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-display: fallback;
    font-family: 'Suisse Intl';
    src: url('/SuisseIntl-SemiBold.otf') format('otf'),
            url('/SuisseIntl-SemiBold.woff2') format('woff2'),
            url('/SuisseIntl-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-display: fallback;
    font-family: 'Suisse Intl';
    src: url('/SuisseIntl-SemiBoldItalic.otf') format('otf'),
            url('/SuisseIntl-SemiBoldItalic.woff2') format('woff2'),
            url('/SuisseIntl-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Suisse Intl Mono';
    src: url('/SuisseIntlMono.otf') format('otf'),
            url('/SuisseIntlMono.woff2') format('woff2'),
            url('/SuisseIntlMono.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}
  
:root {
    --viewport-desktop: 1440;
    --font-family-code: 'Suisse Intl Mono', monospace;

    --form-label-min-size: 10;
    --form-label-base-size: 12;

    --form-input-min-size: 14;
    --form-input-base-size: 16;
}
  
html {
    font-family: var(--font-family-primary);
    font-size: 16px;
    font-weight: 400;
}
  
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p,
a,
legend,
input,
select,
textarea,
label,
.caption,
.utility {
    --base-size-normalized: calc( (var(--base-size) / 1440) * 100vw );
    font-size: max( calc(var(--min-size) * 1px), var(--base-size-normalized) );
}
  
a {
    color: var(--color-link);
}
  
a:not(.button):hover {
    color: var(--color-link-secondary);
}
  
em {
    font-style: italic;
}

code {
    font-family: var(--font-family-code);
}

p {
    margin-block: 0 0.75em;
}