---
import SearchMenu from "./SearchMenu"
import { Icon } from "astro-icon/components"
import { 
    allBlogPosts_Domaine, 
    allBlogPosts_Studio,
    allProjects_Domaine,
    allProjects_Studio,
    allProjectFeatures_Domaine,
    allProjectFeatures_Studio,
    allPartners_Studio,
    allPartners_Domaine,
} from "../../utils/cms-content"
import AtomCloseButton from "../../atoms/atom-closeButton.astro"

const { currentBrand } = Astro.props

const defaultBlogPosts = currentBrand.slug.current === "/studio" ? allBlogPosts_Studio : allBlogPosts_Domaine
const defaultProjects = currentBrand.slug.current === "/studio" ? allProjects_Studio : allProjects_Domaine
const defaultProjectFeatures = currentBrand.slug.current === "/studio" ? allProjectFeatures_Studio : allProjectFeatures_Domaine
const defaultPartners = currentBrand.slug.current === "/studio" ? allPartners_Studio : allPartners_Domaine
---
<dialog popover id="search-menu" class="search-menu" data-color-scheme="default" data-lenis-prevent>
    <div class="close-button">
        <AtomCloseButton 
            popoverTarget="search-menu"
        />
    </div>
    <SearchMenu 
        client:only="solid-js"
        defaultBlogPosts={defaultBlogPosts.slice(0, 3)}
        defaultProjects={defaultProjects.slice(0, 4)}
        defaultFeatures={defaultProjectFeatures.slice(0, 8)}
        defaultPartners={defaultPartners.slice(0, 5)}
        currentBrand={currentBrand}
    />
</dialog>

<style>

    .search-menu {
        /* position: relative; */
        display: flex;
        width: 100%;
        border: none;
        padding: var(--space-md);
        transition: translate var(--anim-md), display var(--anim-md) allow-discrete;
        flex-direction: column;
        gap: var(--space-md);
        translate: 0 -100%;
        overflow-y: auto;
    }

    .search-menu:popover-open {
        translate: 0 0;
    }

    .search-menu::backdrop {
        background-color: color-mix(in srgb, var(--color-foreground) 10%, transparent);
        backdrop-filter: blur(2px);
        transition: opacity var(--anim-md);
        opacity: 0;
    }

    .search-menu:popover-open::backdrop {
        opacity: 1;
    }

    @starting-style {
        .search-menu:popover-open {
            display: flex;
        }

        .search-menu:popover-open::backdrop {
            opacity: 0;
        }
    }

    .close-button {
        position: absolute;
        top: var(--page-margin);
        right: var(--page-margin);
        height: var(--header-element-height);
    }

</style>