.searchMenu {
    display: none;
    width: min(40rem, calc(100% - var(--page-margin) * 2));
    max-height: min(50rem, calc(100% - var(--page-margin) * 2));
    border: none;
    transition: 
        translate var(--anim-sm),
        display var(--anim-sm) allow-discrete,
        overlay var(--anim-sm) allow-discrete;
    flex-direction: column;
    /* gap: var(--space-md); */
    left: 50%;
    /* translate: 0 -50%; */
    translate: -50% calc(-100% - var(--page-margin));
    overflow-y: auto;
    /* border-radius: 0 0 var(--radius-sm) var(--radius-sm); */
    border-radius: var(--radius-md);
    padding-inline: var(--space-xs);
    padding-block: var(--space-xs);
}

.searchMenu:popover-open {
    translate: -50% var(--page-margin);
    display: flex;
}

.searchMenu::backdrop {
    background-color: var(--background-color-backdrop);
    backdrop-filter: var(--background-blur-backdrop) opacity(0);
    -webkit-backdrop-filter: var(--background-blur-backdrop) opacity(0);
    transition: 
        backdrop-filter var(--anim-sm),
        -webkit-backdrop-filter var(--anim-sm),
        display var(--anim-sm) allow-discrete,
        overlay var(--anim-sm) allow-discrete;
}

.searchMenu:popover-open::backdrop {
    backdrop-filter: var(--background-blur-backdrop) opacity(1);
    -webkit-backdrop-filter: var(--background-blur-backdrop) opacity(1);
}

@starting-style {
    .searchMenu:popover-open {
        display: flex;
        translate: -50% calc(-100% - var(--page-margin));
    }

    .searchMenu:popover-open::backdrop {
        backdrop-filter: var(--background-blur-backdrop) opacity(0);
        -webkit-backdrop-filter: var(--background-blur-backdrop) opacity(0);
    }
}

/* Exit animation - when popover is closing */
.searchMenu:not(:popover-open) {
    translate: -50% calc(-100% - var(--page-margin));
    display: flex;
}

.searchMenu:not(:popover-open)::backdrop {
    backdrop-filter: var(--background-blur-backdrop) opacity(0);
    -webkit-backdrop-filter: var(--background-blur-backdrop) opacity(0);
}

.input:focus-visible {
    outline-color: var(--color-neutral);
    outline-offset: 0.1rem;
    /* outli-radius: var(--radius-sm); */
}

.menuControls {
    /* display: grid;
    grid-template-columns: 1fr 2fr 1fr; */
    display: flex;
    flex-direction: row;
    gap: var(--space-xs);
    /* justify-content: end; */
    position: sticky;
    top: 0;
    z-index: 1;
    /* padding-inline: var(--page-margin); */
    /* padding-block: var(--page-margin); */
}

.closeIcon {
    aspect-ratio: 1 / 1;
    height: var(--header-element-height);
    background-color: var(--color-background-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    grid-column: 3 / span 1;
    justify-self: end;
    flex: 0 0 auto;
}

.closeIcon svg {
    width: var(--icon-md);
    height: var(--icon-md);
}

.searchInput {
    position: relative;
    /* grid-column: 2 / span 1; */
    /* justify-self: center; */
    flex: 0 1 100%;
}

.searchInput input {
    border: none;
    padding-block: 0.3em;
    padding-inline-end: calc(var(--icon-md) + var(--space-sm));
    height: var(--header-element-height);
    width: 100%;
    margin: 0;
    /* max-width: 30rem; */
}

.searchInput input::-webkit-search-cancel-button {
    display: none;
}

.searchIcon {
    position: absolute;
    top: 50%;
    right: var(--form-padding-inline);
    z-index: 2;
    aspect-ratio: 1 / 1;
    width: var(--icon-md);
    translate: 0 -50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.results {
    display: flex;
    flex-direction: column;
    z-index: 0;
    /* gap: var(--space-xl); */
    /* margin-block: var(--space-md); */

    .resultsGroup {
        /* opacity: 1; */
        display: none;
        flex-direction: column;
        /* padding-block: var(--space-md); */

        &.visible {
            /* rotate: 20deg; */
            display: flex;
        }

        .groupTitle {
            border-bottom: 1px solid var(--color-neutral);
            padding-block: var(--space-sm) var(--space-2xs);
            margin-block: 0 var(--space-xs);

            * {
                margin: 0;
            }
        }

        .resultsList {
            display: flex;
            flex-direction: column;
            gap: var(--space-xs);
        }

        .resultCard {
            text-decoration: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--space-xs);

            .media {
                position: relative;
                border-radius: var(--radius-sm);
                overflow: hidden;
                flex: 0 0 20%;
                aspect-ratio: 3 / 4;
                background-color: var(--color-background);

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .imagePlaceholder {
                    width: 60%;
                    color: var(--color-background-secondary);
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    translate: -50% -50%;
                }
            }

            .content {
                .subtitle {
                    display: -webkit-box;
                    line-clamp: 2;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                    opacity: 0.8;
                }
            }
        }
    }
}

.noResults {
    padding-block: var(--space-sm) 0;

    * {
        margin: 0;
    }
}


@media screen and (max-width: 768px) {

}