# For the initial "npm install" the authToken for Greensock (AKA GSAP) needs to be 
# entered directly into this .npmrc file, as a string.

# Example: //npm.greensock.com/:_authToken="abc-123-def-456"

# Otherwise, the following error might occur:
# "403 Forbidden - GET https://npm.greensock.com - bad authorization header"

# After a successful install, the token should be moved to the .env file.

@gsap:registry=https://npm.greensock.com
//npm.greensock.com/:_authToken=${GREENSOCK_AUTH_TOKEN}