---
const { serviceType, brand } = Astro.props
---
<section class="service-type-hero">
    <a class="h5" href={`${brand === "studio" ? "/studio" : ""}/services/`}>Services</a>
    <h1>{serviceType.title}</h1>
    {serviceType.description && <p>{serviceType.description}</p>}
</section>

<style>
    .service-type-hero {
        padding-inline: var(--page-margin);
        padding-block: var(--header-height) var(--space-lg);
        display: flex;
        flex-direction: column;
        gap: var(--space-xs);
    }
</style>