---
const { service, brand } = Astro.props
console.log(service.description)
---
<section class="service-hero">
    <div class="section=title">
        <div class="breadcrumbs h5">
            <a class="breadcrumb-link" 
                href={`${brand === "studio" ? "/studio" : ""}/services/`}>Services /</a>
            <a 
                class="breadcrumb-link"
                href={`${brand === "studio" ? "/studio" : ""}/services/${service.serviceGroup.serviceType.slug.current}`}
            >{service.serviceGroup.serviceType.title}</a>
        </div>
        <h1 class="service-title h5">{service.title}</h1>
    </div>
    { (service.description || service.excerpt) && <p class="service-text">{service.description ? service.description : service.excerpt}</p>}
</section>

<style>
    .service-hero {
        padding-inline: var(--page-margin);
        padding-block: calc(var(--header-height) * 2) var(--space-4xl);
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: var(--space-2xs);
    }

    .breadcrumbs {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5ch;
    }

    .breadcrumb-link {
        text-decoration: none;
        color: var(--color-foreground-secondary);
    }
</style>