---
const { service, brand, title, description, excerpt, breadcrumbs } = Astro.props
// console.log(service.description)
---
<section class="service-hero">
    <div class="section=title">
        <div class="breadcrumbs h5">
            {breadcrumbs?.map((breadcrumb) => (
                <a 
                    class="breadcrumb-link" 
                    href={breadcrumb.url}>{breadcrumb.title}</a>

            ))}
        </div>
        <h1 class="service-title h5">{title}</h1>
    </div>
    { (description || excerpt) && <p class="text h6">{description ? description : excerpt}</p>}
</section>

<style>
    .service-hero {
        padding-inline: var(--page-margin);
        padding-block: calc(var(--header-height) * 2) var(--space-4xl);
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: var(--space-2xs);
    }

    .breadcrumbs {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5ch;
    }

    .text {
        max-width: 30em;
    }

    .breadcrumb-link {
        text-decoration: none;
        color: var(--color-foreground-secondary);
    }
</style>