---
import LayoutStudio from "../../layouts/Layout-Studio.astro";

---
<LayoutStudio
    theme="dark"
    title="Home"
    searchFilter="type:page"
    activePath="/studio/about"
>
    <h1>Studio About</h1>
</LayoutStudio>