---
import { Icon } from "astro-icon/components"
import AtomButton from "../atoms/atom-button.astro"
import { getLocaleUrl, getTranslationString } from "../../../lib/translations"
import { Brands } from "../../../enums/brands"

const { buttonLabel, brand, locale } = Astro.props
---
<header
  data-color-scheme="secondary"
>
  <!-- <a href={getLocaleUrl(brand === Brands.STUDIO ? "/studio" : "/", locale)}>
    <Icon name={brand === Brands.STUDIO ? "domaine-studio" : "domaine-wordmark"} />
  </a>
  {buttonLabel && 
    <div class="sticky-button">
      <AtomButton 
        url="#contact"
        text={getTranslationString(buttonLabel, locale)}
        style="primary"
      />
    </div>
  } -->
</header>

<style>
  header {
    position: fixed;
    left: 0;
    right: 0;
    height: var(--header-height);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--page-margin);
    z-index: 2;
    background-color: transparent;
  }

  header :global(svg) {
    flex: 0 0 80%;
  }
  
  .sticky-button :global(.button) {
    /* min-width: 30rem; */
  }
  
</style>