---
import { sanityClient } from "sanity:client";
import { imageFields } from "../utils/cms-queries";
import ProjectCard from "../projects/global-ProjectCard.astro";
import { projectGridFields } from "../utils/cms-queries";

const { section, brand, projects, heading, subheading } = Astro.props

let feedProjects

if (section && section.projects) {
    feedProjects = section.projects
} else if (projects) {
    feedProjects = projects
} else {
    feedProjects = await sanityClient.fetch(`
        *[_type == "type_project" 
            && agencyBrand->slug.current == "${brand}" ]{ 
                ${projectGridFields} 
            } | order( orderRank asc)[0...3]`)
}

---
{(!section || section && section.showSection) && 
    <section class="section-projects-feed">
        <div class="section-title">
            {(heading || section && section.heading) && <h2 class="h5">{heading ? heading : section.heading}</h2>}
            {(subheading || section && section.subheading) && <p class="caption">{subheading ? subheading : section.subheading}</p>}
        </div>
        <div class="section-content">
            {feedProjects.map((project) => (
                <ProjectCard
                    project={project}
                />
            ))}
        </div>
    </section>
}

<style>
    .section-projects-feed {
        overflow-x: clip;
        padding-inline: var(--page-margin);
        padding-block: var(--space-xl) var(--space-2xl);
        display: flex;
        flex-direction: column;
        gap: var(--space-sm);
    }

    .section-content {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        gap: var(--space-sm);
    }

</style>