---
import AtomSanityMedia from "../atoms/atom-sanityMedia.astro"

const { section, brand, key, media } = Astro.props
---
<section class="section-video-fullbleed">
    <AtomSanityMedia 
      video={media.video}
      image={media.image}
      autoplay={false}
      sizes="100vw"
    />
  </section>