---
const { section, brand, key } = Astro.props
---
<section class="section-text-columns" data-layout={section.layout}>
    {section.title && 
        <h3 
            class="title h5"
            data-animate-viewport="true"
            data-animation="fade-up"
        >{section.title}</h3>
    }
    <p 
        class={`text ${section.layout === "large" ? 'h3' : 'h6'}`}
        class="title h5"
        data-animate-viewport="true"
        data-animation="fade-up"
        data-animation-delay={200}
    >{section.text}</p>
</section>

<style>
    .section-text-columns {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: var(--space-md);
        padding-inline: var(--page-margin);
        padding-block: var(--space-lg) var(--space-4xl);
    }

    .section-text-columns[data-layout="large"] {
        flex-direction: column;
    }

    .title {
        max-width: 10em;
    }

    .text {
        max-width: 30em;
    }

    .section-text-columns[data-layout="large"] .text {
        max-width: 25em;
        align-self: center;
    }

    @media screen and (max-width: 768px) {
        .section-text-columns {
            flex-direction: column;
        }
    }
</style>