---
const { content, heading, text, hubspotFormId } = Astro.props;
---
<section class="section_form" id="form-section">
  <div class="section_form-inner">
    <div class="section-title" data-animate-viewport="true" data-animate-style="fade-up">
      <h2 class="h2">{heading ? heading : content.heading}</h2>
      <p class="h6">{text ? text : content.subheading ? content.subheading : null}</p>
    </div>
    <div 
      id="form" 
      data-hubspot-form-id={hubspotFormId ? hubspotFormId : content.hubspotFormId}
    ></div>
  </div>
</section>

<script>

  declare global {
      interface Window {
          hbspt:any;
      }
  }

  const initForm = () => {
    const form: HTMLElement = document.querySelector("#form")

    if (form && window.hbspt) {
      window.hbspt.forms.create({
          region: "na1",
          target: "#form",
          portalId: "41750854",
          formId: form.dataset.hubspotFormId,
      });
    }
  }

  document.addEventListener("astro:page-load", () => {
    initForm()
  })


</script>
