---
import { getTranslationString } from "../../../lib/translations"
import AtomCounter from "../atoms/atom-counter.astro"
import AtomSanityMedia from "../atoms/atom-sanityMedia.astro"

const { section, brand, key, title, heading, text, count, media, largeHeading, locale } = Astro.props

---
<section class="section-text-heading">
  <div class="section-title">
    <div class="title">
      <h1 class="h5">{title ? getTranslationString(title, locale) : getTranslationString(section.title, locale)}</h1>
      {(section?.count || count) && 
        <AtomCounter 
          count={count ? count : section.count}
        />
      }
    </div>
    <p class={`heading ${largeHeading || section?.largeHeading ? "h2" : "h4"}`}>{heading ? getTranslationString(heading, locale) : getTranslationString(section.heading, locale)}</p>
  </div>
  {(text || section?.text) && 
    <div class="section-text">
      <p class="text h6">{text ? getTranslationString(text, locale) : getTranslationString(section.text, locale)}</p>
    </div>
  }
</section>

<style>
  .section-text-heading {
    padding-block: calc(var(--header-height) * 2) var(--space-4xl);
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
  }

  .section-title,
  .section-text {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-inline: var(--page-margin);
    gap: var(--space-md);
  }

  .title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .heading {
    max-width: 16em;
  }

  .text {
    grid-column: 2 / span 1;
    max-width: 40em;
  }

  @media screen and (width <= 768px) {
    .section-title,
    .section-text {
      display: flex;
      flex-direction: column;
    }
  }
</style>