---
import AtomRichContent from "../atoms/atom-richContent.astro"
const { section, brand, key } = Astro.props
// console.log(section)
if (!section.content) console.warn('Missing field for Rich Content!')
---
<section class="section-rich-content">
  <AtomRichContent 
    content={section.content}
  />
</section>

<style>
  .section-rich-content {
    padding-block-end: var(--space-3xl);
    padding-inline: var(--page-margin);
  }

  @media screen and (min-width: 768px) {
    .section-rich-content {
      padding-inline: 0;
    }
  }
</style>