---
const { section } = Astro.props;
---
<section class="section-form">
  <div class="section-form__inner">
    <div class="section-form__title">
      <h2 class="h2">{section.heading}</h2>
      <p class="h6">{section.subheading}</p>
    </div>
    
    <div 
      id="form" 
      data-hubspot-form-id={section.hubspotFormId}
    ></div>
</section>

<script>

  declare global {
      interface Window {
          hbspt:any;
      }
  }

  const initForm = () => {
    const form: HTMLElement = document.querySelector("#form")

    if (form && window.hbspt) {
      window.hbspt.forms.create({
          region: "na1",
          target: "#form",
          portalId: "41750854",
          formId: "6bb0a8f8-9497-40be-96c1-c1232f9eecba",
      });
    }
  }

  document.addEventListener("astro:page-load", () => initForm())
  // initForm()

</script>

<style>
    .section-form {
        padding-inline: var(--page-margin);
    }
</style>