---
import AtomRichContent from "../atoms/atom-richContent.astro"
const { section, brand, key } = Astro.props
console.log(section)
---
<section class="section-rich-content">
  <AtomRichContent 
    content={section.richContent}
  />
</section>