---
import AtomSanityMedia from "../atoms/atom-sanityMedia.astro"

const { section, brand } = Astro.props 
// console.log(section)
---
<section class="section-content-blocks">
    <div class="content-blocks">
        {section.contentBlocks.map((contentBlock) => (
            <div class="content-block" data-inset={contentBlock.insetMedia ? "true" : "false"}>
                <AtomSanityMedia
                    video={contentBlock.media.video}
                    image={contentBlock.media.image}
                    cover={contentBlock.insetMedia ? false : true}
                    contain={contentBlock.insetMedia ? true : false}
                    sizes="100vw"
                />
            </div>
        ))}
    </div>
</section>

<style>
    .section-content-blocks {
        padding-inline: var(--page-margin);
        padding-block: var(--space-lg);
    }

    .content-blocks {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: stretch;
    }

    .content-block {
        flex: 0 1 100%;
        background-color: var(--color-background-secondary);
        max-height: 100svh;
    }

    .content-block[data-inset="true"] {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--space-2xl);
    }

    @media screen and (max-width: 768px) {
        .content-blocks {
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
        }

        .content-block {
            flex: 0 0 auto;
            max-height: unset;
        }
    }
</style>