---
import AtomHubspotForm from "../atoms/atom-hubspotForm.astro";

const { section, key } = Astro.props;
const formId = section.hubspotFormId
---
<section class="section-form">
  <div class="section-form__inner">
    <div class="section-form__title">
      <h2 class="h2">{section.heading}</h2>
      <p class="h6">{section.subheading}</p>
    </div>

    <AtomHubspotForm 
      formId={formId}
    />
</section>

<style>
    .section-form {
        padding-inline: var(--page-margin);
        padding-block: var(--space-xl);
    }
</style>