---
import AtomSanityMedia from "../atoms/atom-sanityMedia.astro"

const { section, brand, key, media, locale } = Astro.props
---
<section class="section-video-fullbleed">
  <AtomSanityMedia 
    video={section?.media ? section.media.video : media.video}
    image={section?.media ? section.media.image : media.image}
    autoplay={false}
    sizes="100vw"
  />
</section>

<style>
.section-video-fullbleed {
  position: relative;
}
</style>