---
import ProjectCard from "../../atoms/ProjectCard.astro";

const { projects, showHidden, category, tag } = Astro.props;

let projectsVisible = projects;
if (!showHidden) projectsVisible = projectsVisible.filter(project => !project.hideProject)

---
<section class="work_grid">
  {projectsVisible.map((project, i) => {
      return (
        <ProjectCard
          title={project.title}
          subtitle={project.subtitle}
          slug={project.slug.current}
          image={project.thumbnail}
          style={i % 12 == 0 ? "large" : "default"}
        />
      )
    }
  )}
</section>

<style>
  .work_grid {
    padding: 0 var(--page-margin) var(--space-lg);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--page-margin);
  }

  @media screen and (max-width: 768px) {
    .work_grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

</style>