---
import { getProjectCategories } from "../../../utils/sanityClient"

const categories = await getProjectCategories();
const { activeCategory } = Astro.props;
---

<ul class="work_filter">
  <li class="filter-item" data-active={!activeCategory ? "true" : "false"}><a class="utility" href={`/work/`}>All Work</a></li>
  {categories.map((category) => (
    <li class="filter-item" data-active={activeCategory && activeCategory._id == category._id ? "true" : "false"}><a class="utility" href={`/work/${category.slug.current}`}>{category.name}</a></li>
  ))}
</ul>

<style>
  .work_filter {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-xs);
    overflow-x: auto;
    max-width: 100%;
  }

  .filter-item {
    position: relative;
    flex-shrink: 0;
  }

  .filter-item::after {
    content: "";
    position: absolute;
    bottom: -0.1em;
    left: 0;
    height: 1px;
    width: 0%;
    background: var(--color-foreground);
    transition: width: var(--anim-lg);
  }

  .filter-item[data-active="true"]::after {
    width: 100%;
  }

  @media screen and (max-width: 960px) {
    .work_filter {
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      gap: var(--space-lg);
      padding: var(--space-sm) var(--page-margin);
      margin: 0 calc(var(--page-margin) * -1)
    }
  }
</style>