:root {
		/* Forms */
		--form-field-background: transparent;
		--form-field-radius: 4px;
		--form-field-gap-inline: var(--space-2xs);
		--form-field-gap-block: var(--space-sm);
		--form-toggle-size: 1em;
		--form-field-border: var(--color-border);
}


/* Hubspot Styling -- Global */

form,
.hs-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* gap: var(--form-field-gap-block); */
}

.hs-form-field label,
.hs-input[type="file"] {
  --min-size: 14;
  --base-size: 16;
  letter-spacing: 0;
  margin: 0;
  color: var(--color-foreground);
}

.hs-field-desc {
  --min-size: 12;
  --base-size: 12;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  color: var(--color-foreground-secondary);
  margin-top: var(--space-2xs);
}

.hs-form-booleancheckbox-display a,
.hs-form-checkbox-display a,
.hs-form-radio-display a,
.hs-field-desc a {
  text-decoration: underline;
  color: inherit;
}

.hs-field-desc + .input,
label + .input {
  margin-top: var(--space-xs);
}

.input {
  margin-right: 0 !important;
}

.hs-input[type="text"],
.hs-input[type="email"],
.hs-input[type="number"],
.hs-input[type="file"],
select,
textarea {
  width: 100% !important;
}

input,
select,
textarea {
  border: 1px solid var(--color-border);
  background-color: var(--form-field-background);
  border-radius: var(--form-field-radius);
  padding: var(--space-xs);
  color: var(--color-foreground);
  transition: border var(--anim-sm);
  width: 100%;
  max-width: 100%;
  position: relative;
}

input:hover,
select:hover,
textarea:hover {
  border-color: var(--color-foreground);
}

select:hover {
  cursor: pointer;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
  color: var(--color-foreground-secondary);
}

select {
  color: var(--color-foreground);
}

select option {
  width:80%;
}

/* Hubspot Styling -- Layout */

.form-columns-1,
.form-columns-2 {
  width: 100%;
  max-width: 100% !important;
}

.form-columns-2 {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-start;
  gap: var(--form-field-gap-inline);
}

.hs-dependent-field {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--form-field-gap-block);
}
  
  
    /* Hubspot Styling -- Text Area */

textarea,
.hs-fieldtype-textarea {
  font-family: inherit;
}

/* Hubspot - Radio Input */

.inputs-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-sm);
  margin: 0;
  padding: 0;
  list-style: none;
  /* margin-top: var(--space-sm); */
}

.hs-form-booleancheckbox-display,
.hs-form-checkbox-display,
.hs-form-radio-display {
  --min-size: 12 !important;
  --base-size: 12 !important;
  letter-spacing: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--space-xs);
  cursor: pointer;
}

.hs-form-booleancheckbox-display p {
  --min-size: 12;
  --base-size: 12;
}

.hs-form-booleancheckbox-display span {
  margin: 0 !important;
}

.hs-input[type="radio"],
.hs-input[type="checkbox"],
input[type="radio"],
input[type="checkbox"] {
  flex: 0 0 auto;
  width: var(--form-toggle-size) !important;
  height: var(--form-toggle-size) !important;
  margin: 0;
  padding: 0;
  appearance: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
  border: 1px solid currentColor;
  position: relative;
  -webkit-appearance: none;
}

.hs-input[type="radio"],
.hs-input[type="radio"]::before,
input[type="radio"],
input[type="radio"]::before {
  border-radius: var(--radius-rounded);
}

.hs-input[type="checkbox"],
.hs-input[type="checkbox"]::before,
input[type="checkbox"],
input[type="checkbox"]::before {
  border-radius: 0;
}

input[type="radio"]::before,
input[type="checkbox"]::before {
  --fill-size: 60%;
  content: "";
  width: var(--fill-size);
  height: var(--fill-size);
  position: absolute;
  background-color: currentColor;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  opacity: 0;
  transition: opacity var(--anim-sm);
}

input[type="radio"]:checked::before,
input[type="checkbox"]:checked::before {
  opacity: 1;
}

/* Hubspot Styling -- Button */

.hs-button {
  width: 100%;
  text-align: center;
  margin-top: var(--space-md);
  justify-content: center;
}

/* Hubspot Styling -- Error */

.hs-error-msgs {
  margin: var(--space-2xs) 0 0;
  padding: 0;
}

.hs-error-msgs li {
  list-style: none;
  width: 100%;
  text-align: center;
}

.hs-error-msg {
  width: 100%;
  display: block;
  letter-spacing: -0.02em;
  background-color: var(--color-error);
  color: var(--color-reverse);
  border-radius: var(--form-field-radius);
  padding: var(--space-2xs) var(--space-xs);
}

label.hs-error-msg {
  color: var(--color-reverse);
}



/* Hubspot Styling -- Rich Text */

.hs-error-msg,
.hs-richtext p,
.hs-richtext a {
  font-weight: normal;
  font-size: 12px;
  color: var(--color-foreground-secondary);
}

.hs-richtext a {
  text-decoration: underline;
}

/* Hubspot Styling -- Single Field Form */


/* Hubspot Styling -- Legal Consent*/

.hs-form .legal-consent-container {
  margin-top: var(--space-xs);
  color: var(--color-foreground-secondary);
  font-size: 10px;
}

/* Radio Button Group */

.radio-button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: var(--space-sm);
}

.button-radio {
  padding-inline: var(--space-sm);
}

.radio-button-group .button-radio {
  border-radius: 0;
}

.radio-button-group .button-radio:first-child {
  border-radius: var(--radius-rounded) 0 0 var(--radius-rounded);
}

.radio-button-group .button-radio:last-child {
  border-radius: 0 var(--radius-rounded) var(--radius-rounded) 0;
}

