:root {
  /* Primitives */
  --color-brand: var(--color-blue);
  --color-brand-contrast: var(--color-reverse);
  --color-brand-secondary: var(--color-orange);
  --color-brand-secondary-contrast: var(--color-reverse);

  --gradient-primary: var(--gradient-ink);

  --color-studio-lightest: #FDFFF4;
  --color-studio-lighter: #e2e7cd;
  --color-studio-light: #c4c9ae;
  --color-studio-neutral: #abae9d;
  --color-studio-dark: #5a5b50;
  --color-studio-darkest: #000000;
}

/* Default Colors */
html,
html[data-theme="dark"] .color-invert {
    --color-foreground: var(--color-studio-darkest);
    --color-foreground-secondary: var(--color-studio-dark);
    --color-background: var(--color-studio-lightest);
    --color-background-secondary: var(--color-studio-lighter);
    --color-border: var(--color-studio-light);
}

/* Dark Colors */
html .color-invert,
html[data-theme="dark"] {
    --color-foreground: var(--color-studio-lightest);
    --color-foreground-secondary: var(--color-studio-lighter);
    --color-background: var(--color-studio-darkest);
    --color-background-secondary: var(--color-studio-dark);
    --color-border: var(--color-studio-neutral);
}