/* ::selection {
  background: var(--color-blue);
  color: var(--color-lightest);
} */

html,
html [data-color-scheme="glass-light"],
[data-color-scheme="default"] {
    
  --color-accent: var(--color-blue);

  --button-primary-foreground: var(--color-lightest);
  --button-primary-background: var(--color-blue);
  --button-primary-foreground-hover: var(--color-lightest);
  --button-primary-background-hover: var(--color-darkest);

  --button-secondary-foreground: var(--color-darkest);
  --button-secondary-foreground-hover: var(--color-darkest);
  --button-secondary-background-hover: var(--color-lighter);
}

html .color-invert,
html [data-color-scheme="invert"],
html [data-color-scheme="glass-dark"] {

  --color-foreground: var(--color-lightest);
  --color-foreground-secondary: var(--color-light);
  --color-background: var(--color-darkest);
  --color-background-secondary: var(--color-dark);
  --color-border: var(--color-dark);

  --color-accent: var(--color-blue-lightest);

  --button-primary-foreground-hover: var(--color-lightest);
  --button-primary-background-hover: var(--color-blue);

  --button-secondary-foreground: var(--color-lightest);
  --button-secondary-foreground-hover: var(--color-darkest);
  --button-secondary-background-hover: var(--color-light);
}

html [data-color-scheme="brand-01"],
html [data-color-scheme="brand-02"] {

  --color-foreground: var(--color-lightest);
  --color-foreground-secondary: var(--color-blue-contrast-subdued);
  --color-background: var(--color-blue);
  --color-background-secondary: var(--color-blue-light);

  --color-border: var(--color-blue-lighter);

  --color-accent: var(--color-blue-contrast-subdued);

  /* Buttons */
  --button-primary-foreground: var(--color-darkest);
  --button-primary-background: var(--color-lightest);
  --button-primary-foreground-hover: var(--color-lightest);
  --button-primary-background-hover: var(--color-darkest);

  --button-secondary-foreground: var(--color-lightest);
  --button-secondary-foreground-hover: var(--color-lightest);
  --button-secondary-background-hover: var(--color-blue-lighter);
}