:root {
    --font-family-primary: 'Suisse Intl', Helvetica, Arial, system-ui, sans-serif;
    --font-family-secondary: 
      'Suisse Intl Mono',
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin: 0 0 0.2em;
}
  
h1, .h1 {
    --min-size: 45;
    --base-size: 72;
    letter-spacing: -0.03em;
    line-height: 0.99;
    font-weight: 200;
}
  
h2, .h2 {
    --min-size: 40;
    --base-size: 60;
    letter-spacing: -0.03em;
    line-height: .95;
    font-weight: 200;
}
  
h3, .h3 {
    --min-size: 30;
    --base-size: 45;
    letter-spacing: -0.03em;
    line-height: 1.1;
    font-weight: 200;
}
  
h4, .h4 {
    --min-size: 30;
    --base-size: 40;
    letter-spacing: -0.03em;
    line-height: 1.1;
    font-weight: 200;
}

h5, .h5 {
    --min-size: 25;
    --base-size: 30;
    letter-spacing: -0.02em;
    line-height: 1.1;
    font-weight: 200;
    text-transform: none;
}

h6, .h6 {
    --min-size: 20;
    --base-size: 25;
    letter-spacing: -0.02em;
    line-height: 1.2;
    font-weight: 200;
}
  
p,
.body {
    --min-size: 13;
    --base-size: 14;
    /* margin: 0 0 1em; */
    letter-spacing: 0;
    margin: 0;
    font-weight: 400;
}
  
.caption,
label,
.hs-field-desc {
    --min-size: 12;
    --base-size: 12;
    letter-spacing: -0.01em;
    margin: 0;
    font-weight: 400;
    /* font-family: var(--font-family-secondary); */
}
  
.utility {
    font-family: var(--font-family-secondary);
    --min-size: 12;
    --base-size: 12;
    text-transform: none;
    letter-spacing: -0.0em;
    margin: 0;
    font-weight: 400;
}

strong {
    font-weight: 600;
}
  
  