:root {
  /* Primitives */
  --color-brand: var(--color-darkest);
  --color-brand-contrast: var(--color-lightest);
  --color-brand-secondary: var(--color-blue);
  --color-brand-secondary-contrast: var(--color-lightest);

  --gradient-primary: var(--gradient-ink);
}