:root {
    --font-family-primary: 'Suisse Intl', Helvetica, Arial, system-ui, sans-serif;
    --font-family-secondary: 
      'Suisse Intl Mono',
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin: 0 0 0.2em;
}
  
h1, .h1 {
    --min-size: 42;
    --base-size: 68;
    letter-spacing: -0.03em;
    line-height: 0.99;
    font-weight: 600;
}
  
h2, .h2 {
    --min-size: 38;
    --base-size: 54;
    letter-spacing: -0.03em;
    line-height: .95;
    font-weight: 600;
}
  
h3, .h3 {
    --min-size: 32;
    --base-size: 44;
    letter-spacing: -0.03em;
    line-height: 1.1;
    font-weight: 600;
}
  
h4, .h4 {
    --min-size: 28;
    --base-size: 34;
    letter-spacing: -0.03em;
    line-height: 1.1;
    font-weight: 600;
}

h5, .h5 {
    --min-size: 22;
    --base-size: 26;
    letter-spacing: -0.02em;
    line-height: 1.1;
    font-weight: 400;
}

h6, .h6 {
    --min-size: 18;
    --base-size: 20;
    letter-spacing: -0.02em;
    line-height: 1.2;
    font-weight: 400;
}
  
p,
.p {
    --min-size: 14;
    --base-size: 16;
    letter-spacing: 0;
    font-weight: 400;
}
  
.caption,
label,
.hs-field-desc {
    --min-size: 12;
    --base-size: 12;
    letter-spacing: 0;
    margin: 0;
    font-weight: 400;
}
  
.utility {
    font-family: var(--font-family-secondary);
    --min-size: 10;
    --base-size: 12;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 0;
    font-weight: 400;
}

strong {
    font-weight: 600;
}