---
import GlobalProjectCard from './global-ProjectCard.astro'


const { projects, heading, locale } = Astro.props
---
<div class="projects-grid">
    {heading && <h2>{heading}</h2>}
    {projects.map((project) => (
        <GlobalProjectCard
            project={project}
            locale={locale}
        />
    ))}
</div>

<style>
    .projects-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-inline: var(--page-margin);
        padding-block: 0 var(--space-2xl);
        gap: var(--space-xl) var(--space-xs);
    }

    @media screen and (max-width: 768px) {
        .projects-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (max-width: 480px) {
        .projects-grid {
            grid-template-columns: repeat(1, 1fr);
        }
    }
</style>