---
import AtomSanityMedia from "../atoms/atom_sanityMedia.astro"

const { title, excerpt, slug, heroMedia, thumbnailMedia, brand } = Astro.props
console.log(thumbnailMedia)
---
<a href={`${brand == "studio" ? "/studio" : ""}/work/${slug.current}`} class={`project-card`}>

    <AtomSanityMedia 
        video={thumbnailMedia ? thumbnailMedia.video : null}
        image={thumbnailMedia ? thumbnailMedia.image : heroMedia.image}
        aspectRatio={3 / 4}
        sizes="30vw"
    />
    <h3>{title}</h3>
    <p>{excerpt}</p>
</a>

<style>
    .project-card {
        flex: 0 1 100%;
        /* flex-shrink: 0; */
    }
</style>