---
import AtomSanityMedia from "../atoms/atom_sanityMedia.astro"

interface Props {
    title: string,
    excerpt: string,
    slug: Slug,
    heroMedia: Media,
    thumbnailMedia: Media,
    brand?: string
}

const { title, excerpt, slug, heroMedia, thumbnailMedia, brand } = Astro.props
---
<a href={`${brand == "studio" ? "/studio" : ""}/work/${slug.current}`} class={`project-card`}>
    <AtomSanityMedia 
        video={
            (thumbnailMedia && thumbnailMedia.video) ? 
                thumbnailMedia.video :
                (!thumbnailMedia && heroMedia && heroMedia.video) ? 
                    heroMedia.video : null 
            }
        image={
            (thumbnailMedia && thumbnailMedia.image && thumbnailMedia.image.asset) ? 
                thumbnailMedia.image :
                    (heroMedia && heroMedia.image && heroMedia.image.asset) ? 
                        heroMedia.image : null
            }
        aspectRatio={3 / 4}
        sizes="30vw"
    />
    <h3>{title}</h3>
    <p>{excerpt}</p>
</a>

<style>
    .project-card {
        flex: 0 1 100%;
        /* flex-shrink: 0; */
    }
</style>