---
import AtomSanityImage from "../atoms/atom-sanityImage.astro"
import AtomSanityMedia from "../atoms/atom-sanityMedia.astro"
import { urlFor } from "../utils/cms-queries"

// interface Props {
//     title: string,
//     excerpt: string,
//     slug: Slug,
//     heroMedia: Media,
//     thumbnailMedia: Media,
//     brand?: string,
//     client: ClientCard,
//     logoColor: string,
//     agencyBrand: {
//         slug: Slug
//     },
// }

const { title, excerpt, slug, heroMedia, thumbnailMedia, thumbnailImageSecondary, client, logoColor, agencyBrand } = Astro.props
// console.log(thumbnailImageSecondary)
---
<a href={`${agencyBrand.slug.current == "studio" ? "/studio" : ""}/work/${slug.current}`} class={`project-card`}>
    <div class="card-media">
        <AtomSanityMedia 
            video={
                (thumbnailMedia && thumbnailMedia.video) ? 
                    thumbnailMedia.video :
                    (!thumbnailMedia && heroMedia && heroMedia.video) ? 
                        heroMedia.video : null 
                }
            image={
                (thumbnailMedia && thumbnailMedia.image && thumbnailMedia.image.asset) ? 
                    thumbnailMedia.image :
                        (heroMedia && heroMedia.image && heroMedia.image.asset) ? 
                            heroMedia.image : null
                }
            aspectRatio={3 / 4}
            sizes="30vw"
        />
        {client && 
            <img 
                src={urlFor(logoColor === "dark" ? client.logoDark : client.logoLight).auto('format').url() }
                class="client-logo"
            />
        }
        {thumbnailImageSecondary && 
            <div class="card-overlay glass-ink">
                <div class="hover-image">
                    <AtomSanityImage 
                        image={thumbnailImageSecondary.image}
                        sizes="40vw"
                    />
                </div>
            </div>
        }
    </div>
    <div class="card-content">
        {client && 
            <div class="product-media">
                <img 
                    src={urlFor(client.productImage).auto('format').url() }
                    class="product-image"
                />
            </div>
        }
        <div class="card-details">
            <h6 class="title body">{title}</h6>
            <p class="excerpt caption">{excerpt}</p>
        </div>
    </div>
</a>

<style>
    

    .project-card {
        flex: 0 1 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: var(--space-xs);
        text-decoration: none;
        /* flex-shrink: 0; */
    }

    .card-media {
        position: relative;
        width: 100%;
        border-radius: var(--radius-sm);
        overflow: hidden;
    }

    .client-logo {
        position: absolute;
        inset: var(--space-sm);
        max-width: 25%;
        max-height: 1.5em;
    }

    .card-content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        gap: var(--space-sm);
    }

    .product-media {
        flex: 0 0 max(60px, 10%);
        background-color: var(--color-background-secondary);
        aspect-ratio: 1 / 1;
        border-radius: var(--radius-sm);
        overflow: hidden;
    }

    .product-image {
        width: 100%;
        min-width: 0;
    }

    .card-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: stretch;
    }

    .title {

    }

    .excerpt {
        color: var(--color-foreground-secondary);
    }

    .card-overlay {
        position: absolute;
        inset: 0;
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity var(--anim-md);
    }

    .project-card:hover .card-overlay {
        opacity: 1;
    }

    .hover-image {
        max-width: 60%;
        border-radius: var(--radius-sm);
        opacity: 0;
        translate: 0 20px;
        transition: opacity var(--anim-md), translate var(--anim-md);
    }

    .project-card:hover .card-overlay .hover-image {
        opacity: 1;
        translate: 0 0px;
    }

</style>