---
const { heading, subheading } = Astro.props;
---
<section class="work-feature_hero">
    <h1>{heading}</h1>
    {subheading && <h4>{subheading}</h4>}
</section>

<style>
    .work-feature_hero {
        padding-inline: var(--page-margin);
    }
</style>