---
const { heading, category, root } = Astro.props
---
<section class="work-post_hero">
    <h1>{heading}</h1>
</section>

<style>
    .work-post_hero {
        padding-inline: var(--page-margin);
    }
</style>