---
import AtomSanityImage from "../../../global/atoms/atom-sanityImage.astro"
import AtomSanityMedia from "../../../global/atoms/atom-sanityMedia.astro"
import { paths } from "../../../global/utils/paths"

const { title, heroMedia, accentColor } = Astro.props
// console.log(features)
---
<section class="work-post_hero">
    <h1 
        class="project-title"
    >{title}</h1>

    <AtomSanityMedia 
        image={heroMedia.image}
        video={heroMedia.video}
        cover={true}
        sizes="100vw"
    />

</section>


<style>
    .work-post_hero {
        height: 95svh;
        position: relative;
        color: var(--color-accent-secondary);
    }

    .project-title {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 25vw;
        margin: 0;
        line-height: 0.7;
        z-index: 2;
    }
</style>