---
const { heading, subheading } = Astro.props;
---
<section class="work-index_hero">
    <h1>{heading}</h1>
    {subheading && <h2 class="h4">{subheading}</h2>}
</section>

<style>
    .work-index_hero {
        padding-inline: var(--page-margin);
        padding-block: var(--header-height) var(--space-lg);
    }
</style>