---
import Layout from '../../layouts/Layout.astro';
import SectionBlock from '../../components/sections/SectionBlock.astro';

import { getHomePageContent, urlFor } from '../../utils/sanityClient';
const data = await getHomePageContent();
// console.log(data)
---
<Layout
	title={data.metaTitle ? data.metaTitle : data.title} 
	description={data.metaDescription && data.metaDescription}
	image={data.metaImage && urlFor(data.metaImage).url()}
>
	<main>
		{data.content.map((contentBlock) => (
			<SectionBlock block={contentBlock} />
		))}
	</main>
</Layout>

<style>
</style>
