---
import { getHeaderContent } from "../../../utils/sanityClient";
import Icon from '../../atoms/Icon.astro';

const data = await getHeaderContent();
// console.log(data)
---
<header class="header" data-animate="true">
  <span class="navigation">
    <a class="logo" href="/" aria-label="Domaine homepage">
      <Icon glyph="logo" />
    </a>
    <nav class="navigation-links">
      {data[0].links.map((link, i) => {
        return (
          <a class="navigation-link" href={link.linkURL}>{link.linkText}</a>
        )
      })}
    </nav>
  </span>
  <a class="button contact-button" href={data[0].buttonURL}>
    {data[0].buttonText}
    <Icon glyph="arrow" size="large" />
  </a>
</header>

<script>

  const animateLoad = () => {
    const heroSection = document.querySelector('.header')
    if (heroSection instanceof HTMLElement ) {
      heroSection.dataset.animate = "false";
    }
  }

  document.addEventListener("astro:after-swap", () => {
    animateLoad()
  })

  document.addEventListener("astro:page-load", () => {
    animateLoad()
  })
</script>

<style>

  .header {
    padding: var(--space-md) var(--page-margin);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    translate: 0 0;
    transition: translate var(--anim-md);
    /* height: var(--header-height); */
  }

  .header[data-animate="true"] {
    translate: 0 -100%;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-md);
  }

  

  .logo {
    width: clamp(100px, 8vw, 220px);
  }

  .logo svg {
    width: 100%;
  }

  .navigation-links {
    border: 1px solid var(--color-border);
    border-radius: var(--radius-rounded);
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  .navigation-link {
		padding: var(--space-xs) var(--space-sm);
    transition: background var(--anim-sm), color var(--anim-sm);
  }

  .navigation-link:hover {
    background: var(--color-foreground);
    color: var(--color-background);
  }

  .navigation-link:first-child {
    padding-left: var(--space-sm);
  }

  .navigation-link:last-child {
    padding-right: var(--space-sm);
  }

  @media screen and (max-width:678px) {
    
    .header {
      display: none;
    }

    .contact-button {
      display: none;
    }
  }

</style>