---
import AtomRichContent from "../atoms/atom-richContent.astro"
const { content } = Astro.props
---
<section class="blog-post-body">
    <AtomRichContent 
        content={content}
    />
    <slot />
</section>

<style>
    .blog-post-body {
        padding-inline: var(--page-margin);
        padding-block: var(--space-4xl);
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }

    @media screen and (width <= 768px) {
        .blog-post-body {
            flex-direction: column;
            gap: var(--space-4xl)
        }
    }
</style>