---
import { Translations } from "../../../lib/locales"
import { getTranslationString } from "../../../lib/translations"
import AtomSanityImage from "../atoms/atom-sanityImage.astro"
import AtomTag from "../atoms/atom-tag.astro"

const { authors, locale } = Astro.props
// console.log(authors)
---
<section class="blog-post-authors">
    <h2 class="section-title h5">{locale ? Translations.AUTHORS.locales[locale] : Translations.AUTHORS.name}</h2>
    <div class="authors">
        {authors.map((author) => (
            <div class="author">
                <div class="author-media">
                    <AtomSanityImage 
                        sizes="20vw"
                        image={author.image.image}
                    />
                </div>
                <div class="author-details">
                    <div class="author-title">
                        <AtomTag 
                            text={getTranslationString(author.department.title, locale)}
                        />
                        <h6 class="name h4">{author.name}</h6>
                        <p>{getTranslationString(author.role, locale)}</p>
                    </div>
                    {author.bio && <p>{getTranslationString(author.bio, locale)}</p>}
                </div>
            </div>
        ))}
    </div>
</section>

<style>
    .blog-post-authors {
        margin: 0 var(--page-margin);
        padding-block: var(--space-xl);
        border-top: 1px solid var(--color-border);
        border-bottom: 1px solid var(--color-border);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: var(--space-sm);
        flex-wrap: wrap;
    }

    .authors {
        display: flex;
        flex-direction: column;
        gap: var(--space-xl);
        align-items: stretch;
        /* flex: 0 1 max-content; */
        flex: 0 0 50rem;
        /* flex: 0 0 50rem; */
    }

    .author {
        display: flex;
        flex-direction: row;
        gap: var(--space-md);
        max-width: 100%;
    }

    .author-media {
        flex: 0 0 25%;
        max-width: 12rem;
    }

    .author-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--space-xs);
        flex: 0 1 calc(75% - var(--space-md));
        /* min-width: calc(75% - var(--space-md)); */
    }

    .author-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--space-2xs);
        /* flex: 1 0 auto; */
    }

    .name {
        margin: 0;
    }

    @media screen and (width <= 768px) {

        .section-title {
            align-self: flex-end;
        }

        .blog-post-authors {
            flex-direction: column;
        }

        .authors {
            flex: 0 0 auto;
        }

        .author {
            /* flex-direction: column; */
            flex-wrap: wrap;
        }

        .author-details {
            min-width: 30rem;
        }

        .author-media {

        }
    }
</style>