---
import AtomRichContent from "../atoms/atom-richContent.astro"
const { content } = Astro.props
---
<section class="blog-post-body">
    <div class="blog-post-content">
        <AtomRichContent 
            content={content}
        />
    </div>
    <slot />
</section>

<style>
    .blog-post-body {
        padding-inline: var(--page-margin);
        padding-block: var(--space-4xl);
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        max-width: 100%;
    }

    .blog-post-content {
        max-width: calc(100% - 25rem - var(--page-margin) * 2);
        padding-right: var(--space-xl);
    }

    @media screen and (width <= 768px) {
        .blog-post-body {
            flex-direction: column;
            align-items: center;
            gap: var(--space-4xl)
        }

        .blog-post-content {
            max-width: 100%;
            padding-right: 0;
        }
    }
</style>