---
import AtomRichContent from "../atoms/atom-richContent.astro"
const { content } = Astro.props
---
<section class="blog-post-body">
    <AtomRichContent 
        content={content}
    />
    <slot />
</section>

<style>
    .blog-post-body {
        padding-inline: 0 var(--page-margin);
        padding-block: var(--space-4xl);
        display: flex;
        flex-direction: row;
        /* flex-wrap: wrap; */
        align-items: flex-start;
        justify-content: stretch;
    }
</style>