---
import { sanityClient } from 'sanity:client';
import { allBlogCategories_Domaine, allBlogCategories_Studio } from '../utils/cms-content';
import AtomTag from '../atoms/atom-tag.astro';

const { brand, slug } = Astro.props

const blogCategories = brand === "studio" ? allBlogCategories_Studio : allBlogCategories_Domaine
// const blogCategories = await sanityClient.fetch(`*[_type == "type_blogCategory" && count( *[_type == "type_blog" && agencyBrand->slug.current == '${brand}' && references(^._id)] ) > 0]`)
// console.log(blogCategories)
---
<div class="blog-filters">
    <a
        class="filter caption" 
        href={`${brand == "studio" ? '/studio' : ''}/insights/`}
        data-active={!slug ? "true" : "false"}
    >All Insights</a>
    <div class="filter-tags">
        {blogCategories.map((category) => (
            <AtomTag 
                title={category.title}
                url={`${brand == "studio" ? '/studio' : ''}/insights/${category.slug.current}`}
                theme={slug && slug.current == category.slug.current ? "glass-dark" : "default"}
            />
        ))}
    </div>
</div>

<style>
    .blog-filters {
        display: flex;
        flex-direction: row;
        padding-inline: var(--page-margin);
        padding-block: var(--space-md);
        gap: var(--space-sm);
    }

    .filter-tags {
        display: flex;
        flex-direction: row;
        gap: var(--space-2xs);
    }

    .filter {
        text-decoration: none;
        margin: 0;
    }

    
</style>
