---
import AtomSanityMedia from "../atoms/atom_sanityMedia.astro"

interface Props {
    title: string,
    slug: any,
    thumbnailImage: any,
    category: any
}

const { title, thumbnailImage, slug, category } = Astro.props
---
<a href={`/insights/${slug}`} class="blog-card">
    <AtomSanityMedia
        image={thumbnailImage.image}
        aspectRatio={1 / 1}
        sizes="30vw"
    />
    <h3>{title}</h3>

</a>

<style>
    .blog-card {
        flex: 0 1 100%;
    }
</style>