---
import AtomTag from '../atoms/atom-tag.astro';
import { getBlogCategories_Domaine, getBlogCategories_Studio } from '../utils/cms-content';

const { brand, slug } = Astro.props

// const categories = await sanityClient.fetch(`
//     *[_type == "type_blogCategory" 
//         && count( *[_type == "type_blog" && isHidden != true && agencyBrand->name == "${brand === "studio" ? "Studio" : "Domaine"}" && references(^._id)] ) > 0] | order( orderRank )`)

const categories = brand === "domaine" ? await getBlogCategories_Domaine() : await getBlogCategories_Studio()
// console.log(categories)
---
<div class="blog-filters">
    <a
        class="filter-all filter caption" 
        href={`${brand == "studio" ? '/studio' : ''}/insights/`}
        data-active={!slug ? "true" : "false"}
    >All Insights</a>
    <div class="filter-tags">
        {categories.map((category) => (
            <AtomTag 
                title={category.title}
                url={`${brand == "studio" ? '/studio' : ''}/insights/${category.slug.current}`}
                theme={slug && slug.current == category.slug.current ? "glass-dark" : "default"}
            />
        ))}
    </div>
</div>

<style>
    .blog-filters {
        display: flex;
        flex-direction: row;
        padding-inline: var(--page-margin);
        padding-block: var(--space-md);
        gap: var(--space-sm);
    }

    .filter-tags {
        display: flex;
        flex-direction: row;
        gap: var(--space-2xs);
    }

    .filter {
        text-decoration: none;
        margin: 0;
    }

    @media screen and (width <= 768px) {
        .blog-filters {
            flex-direction: column;
            padding-inline: 0;
        }

        .filter-tags {
            overflow-x: auto;
            padding-block-end: var(--space-sm);
        }


        .filter-all,
        .filter-tags {
            padding-inline: var(--page-margin);
        }
    }

    
</style>
