---
import AtomSanityMedia from "../atoms/atom_sanityMedia.astro"

const { title, thumbnailImage } = Astro.props
---
<a href="#" class="blog-card">
    <AtomSanityMedia
        image={thumbnailImage.image}
        aspectRatio={1 / 1}
        sizes="30vw"
    />
    <h3>{title}</h3>

</a>

<style>
    .blog-card {
        flex: 0 1 100%;
    }
</style>