---
import { urlFor } from "../../../utils/sanityClient"
import SanityImage from "../../atoms/SanityImage.astro";
const { content } = Astro.props;
---
<section class="media-fullbleed">
  <div class="media">
    <SanityImage 
      sizes="100vw"
      image={content.image}
      aspectRatio={16 / 9}
    />
  </div>
  <!-- <img 
    class="image"
    sizes="100vw"
    width="100%"
    height="100%"
    srcset={`
      ${urlFor(content.image).width(400).height(200).auto('format').url()} 400w,
      ${urlFor(content.image).width(768).height(384).auto('format').url()} 768w,
      ${urlFor(content.image).width(1024).height(512).auto('format').url()} 1024w,
      ${urlFor(content.image).width(1440).height(720).auto('format').url()} 1440w,
      ${urlFor(content.image).width(1880).height(940).auto('format').url()} 1880w,
      ${urlFor(content.image).width(2880).height(1440).auto('format').url()} 2880w,
    `}
    alt={content.imageAlt}
  /> -->

</section>

<style>
  .media-fullbleed {
    padding: var(--page-margin);
  }

  .media {
    aspect-ratio: 16 / 9;
    border-radius: var(--radius-lg);
    overflow: hidden;
  }
</style>