---
import { urlFor } from "../../../utils/sanityClient"
const { content } = Astro.props;
console.log(content.media)

const media = [...content.media, ...content.media]
---
<section class="media-grid">
  {content.heading &&
    <div class="section-title">
      <h2 class="heading">{content.heading}</h2>
    </div>
  }
  <div class="media-row">
    {media.map((asset) => {
      return (
        <img 
          class="image-media"
          src={urlFor(asset.image).url()}
          sizes="25vw"
          srcset={`
            ${urlFor(asset.image).width(150).height(150).auto('format').url()} 150w,
            ${urlFor(asset.image).width(320).height(320).auto('format').url()} 320w,
            ${urlFor(asset.image).width(470).height(470).auto('format').url()} 470w,
            ${urlFor(asset.image).width(720).height(720).auto('format').url()} 720w,
            ${urlFor(asset.image).auto('format').url()},
          `}
          width="25vw"
          height="25vw"
          alt={asset.imageAlt}
        />
      )
    })}
  </div>
</section>

<style>
  .media-grid {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-md);
    padding: var(--space-xl) 0;
  }

  .section-title {
    padding: 0 var(--page-margin);
  }

  .media-row {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: var(--space-md);
    padding: 0 var(--space-md);
    width: max-content;
    /* translate: 0 0; */
    animation: scroll 20s linear infinite;
    /* translate: -50% 0; */
    /* translate: -10% 0; */
    will-change: translate;
  }

  @keyframes scroll {
    to {
      translate: calc( -50% + var(--space-md) / 2 ) 0;
    }
  }

  .image-media {
    /* width: 20%; */
    width: max(120px, 25vw);
    height: auto;
    aspect-ratio: 1 / 1;
    /* flex: 0 0 30vw; */
    min-width: 0;
    border-radius: var(--radius-sm);
  }
</style>