---
import Layout from '../../layouts/Layout.astro';
import BlogIndexHero from '../../components/sections/blog/blogIndex/BlogIndex_Hero.astro';
import BlogIndexFeed from '../../components/sections/blog/blogIndex/BlogIndexFeed.astro';
import { getBlogCategories, getBlogPageContent, getBlogPosts, urlFor } from '../../utils/sanityClient';
import Work from '../../components/sections/global/Work.astro';
import SidebarLinks from '../../components/atoms/SidebarLinks.astro';

const data = await getBlogPageContent();
const posts = await getBlogPosts();
const categories = await getBlogCategories();
// console.log(data.metaDescription)
---

<Layout 
    title={data.metaTitle ? data.metaTitle : "Insights"}
    description={data.metaDescription && data.metaDescription}
    image={data.metaImage && urlFor(data.metaImage).url()}
    theme="light"
>
    <BlogIndexHero
        heading={data.heading}
        subheading={data.subheading}
        post={data.featuredPost}
    />

    <div class="blog-index-main">

        <SidebarLinks
            links={categories}
            slugRoot="/insights"
            rootLabel="All Insights"
        />

        <BlogIndexFeed
            content={posts.filter(post => data.featuredPost.slug.current != post.slug.current)}
        />

    </div>

    <Work />

</Layout>

<script>
    
    document.addEventListener("astro:page-load", () => {
        const searchParams = new URLSearchParams(window.location.search);

        if (searchParams.has('category')) {
            console.log(searchParams.get('category'))
        }
    })
    
    
</script>

<style>
    .blog-index-main {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: flex-start;
        padding: var(--space-2xl) var(--page-margin);
        gap: var(--space-3xl);
    }

    @media screen and (max-width: 960px) {

        .blog-index-main {
            flex-direction: column;
            gap: var(--space-lg);
        }
    }
</style>
