.projectsFeed {

}

.projectsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-xs);
    padding-inline: var(--page-margin);
}

@media screen and (max-width: 768px) {
    .projectsGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}