---
import { sanityClient } from 'sanity:client';
import { paths } from '../../components/global/utils/paths';
import LayoutDomaine from '../../layouts/LayoutDomaine.astro';

export async function getStaticPaths() {
    const partners = await sanityClient.fetch(`*[_type == "type_partner" ] { ..., tier->{...} }`)
    const landingPagePartners = await partners.filter((partner) => partner.tier && partner.tier.createLandingPages)

    return landingPagePartners.map((partner) => {
        return {
            params: { partner: partner.slug.current },
            props: { content: partner }
        }
    })
}

interface Props {
    content: any
}

const { content } = Astro.props;

---
<LayoutDomaine
    title={content.title}
>
    
    <h4 data-pagefind-filter="type:partner">{content.tier.title}</h4>
    <h1>{content.title}</h1>
</LayoutDomaine>