---
const { heading, subheading } = Astro.props;
---
<section class="work-index_hero">
    <h1>{heading}</h1>
    {subheading && <h4>{subheading}</h4>}
</section>

<style>
    .work-index_hero {
        padding-inline: var(--page-margin);
    }
</style>