---
import Layout from '../layouts/Layout.astro';
import SectionBlock from '../components/sections/SectionBlock.astro';

import { getPages, urlFor } from '../utils/sanityClient';


interface Props {
	data: any;
}

export const prerender = true;

export async function getStaticPaths() {

  const pages = await getPages();

  return pages.map((page) => {
    return {
      params: { slug: page.slug.current },
      props: { data: page }
    }
  })
}

const { slug } = Astro.params;
const { data } = Astro.props;

// console.log(data)

---
<Layout 
  title={data.metaTitle ? data.metaTitle : data.title}
  description={data.metaDescription ? data.metaDescription : null}
  image={data.metaImage ? urlFor(data.metaImage).url() : undefined}
>
	<main>
		{data.content.map((contentBlock) => (
			<SectionBlock block={contentBlock} />
		))}
	</main>
</Layout>

<style>

  main {
    /* padding-top: var(--header-height); */
    min-height: calc(100svh - var(--header-height));
  }
</style>
