---
import LayoutDomaine from "../layouts/Layout-Domaine.astro";

---
<LayoutDomaine
    theme="dark"
    title="Home"
    searchFilter="type:page"
    activePath="/about"
>
    <h1>Domaine About</h1>
</LayoutDomaine>