---
import Layout from '../layouts/Layout.astro';
import Header from '../components/global/Header.astro';
---

<Layout title="Welcome to Astro.">
	<Header />
	<main>
		<h1>Contact</h1>
	</main>
</Layout>

<style>
</style>
