---
import Layout from '../layouts/Layout.astro';
import SectionBlock from '../components/sections/SectionBlock.astro';

import { getHomePageContent } from '../utils/sanityClient';
const data = await getHomePageContent();
---
<Layout title="E-commerce Design & Development Partner">
	<main>
		{data[0].content.map((contentBlock) => (
			<SectionBlock block={contentBlock} />
		))}
	</main>
</Layout>

<style>
</style>
