---
const { heading, subheading, button, media } = Astro.props
---
<section class="home_hero">
    <div class="section-title">
        <h1>{heading}</h1>
        <h6>{subheading}</h6>
    </div>
    {button.text && button.url &&
        <a class="button" href={button.url}>{button.text}</a>
    }
</section>

<style>
    .home_hero {
        padding-inline: var(--page-margin);
        min-height: 80svh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: var(--space-md);
    }

    h1 {
        max-width: 8em;
    }
</style>