---
interface Props {
    title: string,
    excerpt: string,
    url: string,
    image?: any
}

const { title, excerpt, image, url } = Astro.props

---
<a class="project-card" href={url}>
    <h3>{title}</h3>
    <p>{excerpt}</p>
</a>



<style>
    .project-card {
        padding: var(--space-sm);
        border: 1px solid var(--color-border);
    }
</style>