---
---
<aside class="newsletter-card">
    <p class="h5">Newsletter</p>
</aside>

<style>
    .newsletter-card {
        background-color: var(--color-background);
        color: var(--color-foreground);
        min-width: min(360px, 100vw);
        border: 1px solid var(--color-border);
        border-radius: var(--radius-sm);
        padding: var(--space-sm);
    }
</style>