---
interface Props {
    count: number
}
const { count } = Astro.props
---
<span class="counter caption">{count}</span>

<style>
    .counter {
        background-color: var(--color-background-secondary);
        color: var(--color-foreground);
        border-radius: var(--radius-sm);
        padding: 0.2em 0.4em;
        translate: 0 -60%;
        margin-left: 0.5em;
    }

    :global([data-color-scheme="glass-dark"]) .counter {
        background-color: var(--color-foreground-secondary);
        color: var(--color-background);
    }
</style>