---
---
<aside class="newsletter-card">
    <p class="h5">Newsletter</p>
    <form>
        <label for="newsletter=email">
            Email
            <input type="text" id="newsletter-email" name="email">
        </label>
        <input type="submit" value="Sign Up">
    </form>
</aside>

<style>
    .newsletter-card {
        background-color: var(--color-background);
        color: var(--color-foreground);
        min-width: min(320px, 100vw);
        border: 1px solid var(--color-border);
        border-radius: var(--radius-sm);
        padding: var(--space-sm);
    }
</style>