---
import SanityImage from "../../global/atoms/atom_sanityImage.astro";

interface Props {
    title: string,
    excerpt: string,
    url: string,
    thumbnailImage: any,
    thumbnailVideo: any,
}

const { title, excerpt, thumbnailImage, thumbnailVideo, url } = Astro.props
// console.log(image)
---
<a class="project-card" href={url}>
    {thumbnailImage &&
        <SanityImage 
            image={thumbnailImage}
            sizes="(min-width:768px) 33vw, 50vw"
            aspectRatio={3 / 4}
        />
    }
    <h3>{title}</h3>
    <p>{excerpt}</p>
</a>



<style>
    .project-card {
        padding: var(--space-sm);
        border: 1px solid var(--color-border);
    }
    
    .thumbnail {
        aspect-ratio: 3 / 4;
    }
</style>