---
---
<div class="cursor-follow">
  <slot />
</div>

<script>
  import { isMobileBreakpoint } from "../../../lib/check-device"
  import { gsap } from "../../../lib/gsap"

  document.addEventListener("astro:page-load", () => {

  const cursors = document.querySelectorAll('.cursor-follow')

  const followCursor = (element) => {

    window.addEventListener("mousemove", (e) => {
      const posX = e.clientX / window.innerWidth
      const posY = e.clientY / window.innerHeight

      gsap.to(element, {
          "--mouseX": posX,
          "--mouseY": posY,
          ease: "cubic",
          duration: 0.2
      })
    })
  }

  if (!isMobileBreakpoint) {
    cursors.forEach((cursor) => followCursor(cursor))
  }
  
})

</script>

<style>

  .cursor-follow {
    position: absolute;
    z-index: 1;
    margin: 0;
    translate: -50% -50%;
    top: 50%;
    left: 50%;
  }

  @media screen and (width >= 768px) {
    .cursor-follow {
      position: fixed;
      --offsetX: 20px;
      --offsetY: 0px;
      left: calc(100% * var(--mouseX) + var(--offsetX));
      top: calc(100% * var(--mouseY) + var(--offsetY));
      translate: 0 -50%;
    }
  }

</style>