---
import { Icon } from "astro-icon/components"
import AtomSanityImage from "./atom-sanityImage.astro"
import { getTranslationString } from "../../../lib/translations";

interface Props {
    title?: any;
    subtitle?: any;
    url: string;
    image: SanityImage;
    newTab?: boolean;
    locale?: string;
}

const { title, subtitle, url, image, newTab, locale } = Astro.props
---
<a 
    class="notification-link-card" 
    data-color-scheme="glass-dark"
    target={newTab === true ? "_blank" : ""}
    href={url}
>
  {image &&
    <div class="card-media">
      <AtomSanityImage
          image={image}
          sizes="14rem"
          aspectRatio={3 / 4}
      />
    </div>
  }
  <div class="card-content">
    {title && 
      <p class="title">{getTranslationString(title, locale)}</p>
    }
    {subtitle && 
      <p class="text">{getTranslationString(subtitle, locale)}</p>
    }
  </div>
</a>

<style>
    .notification-link-card {
        display: flex;
        flex-direction: column;
        gap: var(--space-xs);
        text-decoration: none;
        border-radius: var(--radius-sm);
        padding-inline: var(--space-xs);
        padding-block: var(--space-xs);
        transition: background-color var(--anim-sm), color var(--anim-sm), translate var(--anim-lg), opacity var(--anim-lg);
        /* min-width: min(30em, 100%); */
    }

    .notification-link-card:focus:not(:focus-visible) {
      outline: none;
    }

    .notification-link-card:focus-visible {
      outline-offset: -2px;
      /* outline: 1px solid var(--color-focus); */
    }

    .card-media {
        flex: 0 0 20%;
    }

    .card-media :global(img) {
      border-radius: var(--radius-sm);
      overflow: hidden;
    }

    .card-content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        /* gap: var(--space-2xs); */
    }

    .title {
      flex: 0 0 auto;
      color: var(--color-foreground-secondary);
      margin: 0;
    }

    .text {
        flex: 0 1 100%;
        text-align: right;
        margin: 0;
    }

</style>
