---
const { footerLinks } = Astro.props
---
<footer>
    Studio Footer
    {footerLinks.links.map((link) => (
        <a href={link.linkUrl} target={link.newTab ? "_blank" : "_self"}>{link.linkText}</a>
    ))}
</footer>