---
const { navigationLinks } = Astro.props;
---
<header>
    <h3><a href="/staging/studio">Studio</a></h3>
    {navigationLinks.links.map((link) => (
        <a href={link.linkUrl}>{link.linkText} </a>
    ))}
</header>