.contact {
  margin: var(--header-height) var(--page-margin) var(--space-2xl);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity var(--anim-lg);
}

.contact[data-animate="true"] {
  opacity: 0;
}

.contact .section-title {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* gap: var(--space-2xs); */
  text-align: center;
}

.contact .contact-form {
  width: min(100%, 540px);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--space-sm);
}