:root {
  /* Primitives */
  --color-brand: var(--color-blue);
  --color-brand-contrast: var(--color-reverse);
  --color-brand-secondary: var(--color-orange);
  --color-brand-secondary-contrast: var(--color-reverse);

  --gradient-primary: var(--gradient-ink);
}
