---
import ProjectCard from "../../../atoms/ProjectCard.astro";

const { projects } = Astro.props;

---
<section class="work_grid" data-animate-load="true" data-animate-style="fade">
  {projects.map((project, i) => {
      return (
        <ProjectCard
          title={project.title}
          subtitle={project.subtitle}
          slug={project.slug.current}
          image={project.thumbnail}
          style={i % 12 == 0 ? "large" : "default"}
        />
      )
    }
  )}
</section>

<style>
  .work_grid {
    padding: 0 var(--page-margin) var(--space-lg);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--grid-gap);
  }

  @media screen and (max-width: 768px) {
    .work_grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

</style>