---
import { Icon } from 'astro-icon/components';

const { text, url, newTab } = Astro.props;
---
<a class="arrow-link h6" href={url} target={newTab ? "_blank" : ""}>
  <p class="">{text}</p>
  <Icon name="arrow-diagonal" class="icon" />
</a>

<style>
  .arrow-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-xs);
    flex-shrink: 0;
  }

  .icon {
    width: 0.7em;
    height: auto;
  }
</style>