---
import { Icon } from "astro-icon/components"

const { text, url } = Astro.props;
---
<a class="back-link" href={url}>
  <Icon name="arrow-back" />{text}
</a>

<style>

  .back-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3em;
    transition: color var(--anim-sm);
  }

  .back-link [data-icon] {
    translate: 0 0;
    transition: translate var(--anim-sm);
  }

  .back-link:hover {
    color: var(--color-foreground-secondary);
  }

  .back-link:hover [data-icon] {
    translate: -0.2em 0;
  }
</style>