---
import { truncateString } from "sanity"
import AtomCarousel from "../../atoms/atom-carousel.astro"
import AtomSanityImage from "../../atoms/atom-sanityImage.astro"

const { node } = Astro.props
// console.log(node)
---
<div class="image-gallery">
    <AtomCarousel 
        slides={node.images}
        slideCount={1.2}
        centered={true}
        spacing="20"
    />
</div>

<style>
    .image-gallery {
        padding-block: var(--space-lg);
        background-color: var(--color-background-secondary);
        margin-block: var(--space-xl);
    }
</style>