---
import { sanityClient } from 'sanity:client';
import LayoutDomaine from '../../layouts/LayoutDomaine.astro';
import { urlFor, getProjectCardsByFeature } from '../../components/global/utils/cms-queries';
import GlobalProjectsGrid from '../../components/global/projects/global_projectsGrid.astro';
import WorkFeatureHero from '../../components/domaine/sections/work/workFeature_Hero.astro';

export async function getStaticPaths() {
    const features = await sanityClient.fetch(`*[_type == "type_projectFeature"]{...} | order(orderRank)`)
    return features.map((feature) => {
        return {
            params: { feature: feature.slug.current },
            props: { content: feature }
        }
    })
}

interface Props {
    content: any
}

const { content } = Astro.props
const projects = await sanityClient.fetch(getProjectCardsByFeature(content._id))

---
<LayoutDomaine
    title={content.metafields && content.metafields.title ? content.metafields.title : "Work"}
    description={content.metafields && content.metafields.description ? content.metafields.description : null}
    searchFilter="type:project-feature"
>
    <WorkFeatureHero 
        heading={content.title}
    />
    <div class="grid">
        <GlobalProjectsGrid 
            projects={projects}
        />
    </div>
</LayoutDomaine>

<style>
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-inline: var(--page-margin);
    }
</style>
