---
import Layout from '../../layouts/Layout.astro'
import WorkHero from '../../components/sections/work/Work_Hero.astro'
import WorkGrid from '../../components/sections/work/Work_Grid.astro'

---
<Layout 
  title="E-commerce Design & Development Partner"
  theme="light"
>
	<main>
    <WorkHero />
    <WorkGrid />
	</main>
</Layout>

<style>
</style>
