---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/global/Header.astro';
import { getBlogPosts } from '../../utils/sanityClient';

const data = await getBlogPosts();
console.log(data[0])
---

<Layout title="Welcome to Astro.">
	<Header />
	<main>
		<h1>Work</h1>
	</main>
</Layout>