---
import Layout from '../../layouts/Layout.astro'
import WorkHero from '../../components/sections/work/Work_Hero.astro'
import WorkGrid from '../../components/sections/work/Work_Grid.astro'
import { getProjects, getWorkPageContent, urlFor } from '../../utils/sanityClient'
import type { SanityAsset } from '@sanity/image-url/lib/types/types'

interface workPageContent {
  heading: string,
  metaTitle?: string,
  metaDescription?: string,
  metaImage?: SanityAsset
}

const content: workPageContent = await getWorkPageContent()
const projects = await getProjects()
// console.log(content)

---
<Layout 
  title={content.metaTitle ? content.metaTitle : "Work"}
  description={content.metaDescription && content.metaDescription}
  image={content.metaImage && urlFor(content.metaImage).url()}
  theme="light"
>
	<main>
    <WorkHero heading={content.heading} />
    <WorkGrid projects={projects} showHidden={false} />
	</main>
</Layout>

<style>
</style>
