---
import AtomSanityImage from "../../../global/atoms/atom-sanityImage.astro"
const { title, heading, images } = Astro.props
---
<section class="services-hero" data-color-scheme="brand-02">
    <div class="section-title">
        <h1 class="utility">{title}</h1>
        <p class="heading h1">{heading}</p>
    </div>
    <div class="section-media">
        {images.map((asset, i) => (
          <div 
            class="hero-image" 
            style={`--index: ${i};`}
          >
            <AtomSanityImage
              image={asset.image}
              sizes="50vw"
            />
          </div>
        ))}
    </div>
</section>

<style>
    .services-hero {
      position: relative;
      overflow: hidden;
    }

    .section-title {
      position: absolute;
      top: 50%;
      translate: 0 -50%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: var(--space-xs);
      z-index: 1;
    }

    .heading {
      max-width: 14em;
    }

    .section-media {
      width: 100%;
      perspective: 1000px;
      z-index: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: var(--space-xl);
      scale: 1.75;
      transform-style: preserve-3d;
      height: 95svh;
    }

    .hero-image {
      flex: 0 1 20%;
      --screen-offset: 100%;
      border-radius: var(--radius-sm);
      overflow: hidden;
      animation: image-zoom 9.5s linear calc(var(--index) * 2.5s) infinite both;
    }

    @keyframes image-zoom {
      0% {
        transform: translateZ( calc( var(--index) * -200px - 1000px ) );
        opacity: 0;
      }
      5% {
        opacity: 0.8;
      }
      20% {
        opacity: 0.8;
      }
      100% {
        transform: translateZ( calc( var(--index) * -200px ) );
        opacity: 0;
      }
    }
</style>