---
import AtomSanityImage from "../atoms/atom-sanityImage.astro"

const { partner, collapsed, theme } = Astro.props

// console.log(icon)

---
<a 
    href={`/partners/${partner.slug.current}`} 
    class={`partner-tile ${theme === "dark" ? "glass-dark" : ""}`}
    data-collapsed={collapsed ? "true" : "false"}
>
    <div class="card-media">
        <AtomSanityImage 
            image={partner.icon.image}
            sizes="15vw"
        />
    </div>
    <div class="card-text caption">
        <p class="title caption">{partner.title}</p>
        <p class="excerpt caption">{partner.excerpt}</p>
    </div>
</a>

<style>
    .partner-tile {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        border-radius: var(--radius-sm);
        overflow: hidden;
        /* max-width: 20em; */
    }

    .partner-tile:not(.glass-dark) {
        color: var(--color-foreground);
        background-color: var(--color-background-secondary);
    }

    .card-media {
        flex: 0 0 clamp(40px,18%,6em);
        
    }

    .card-text {
        padding-inline: var(--space-xs);
        padding-block: var(--space-xs);
    }

    .title,
    .excerpt {
        display: inline;
    }

    .excerpt {
        color: var(--color-foreground-secondary);
    }
</style>
