---
import GlobalPartnerCard from "./global-PartnerCard.astro"

const { tier } = Astro.props
---
<section class="partners-index-tier">
  <div class="section-title">
    <h2 class="h5" data-animate-viewport="true" data-animation="fade-up">{tier.title} Partners</h2>
    <p class="description h6" data-animate-viewport="true" data-animation="fade-up" data-animation-delay="200">{tier.description}</p>
  </div>
  <div class="partners" data-style={tier.createLandingPages ? "primary" : "secondary"}>
    {tier.partners.map((partner) => (
      <GlobalPartnerCard 
        partner={partner}
      />
    ))}
  </div>
</section>

<style>

  .partners-index-tier {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xl);
    padding-block: var(--space-xl);
  }

  .section-title {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--space-md);
  }

  .description {
    max-width: 36em;
  }

  .partners {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: var(--space-md);
  }

  .partners[data-style="primary"] {
    grid-template-columns: repeat(6, 1fr);
  }

  @media screen and (width <= 768px) {
    .partners {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>