---
---
<div id="page-transition" data-active="false">

</div>

<script>
    const transitionOverlay = document.getElementById('#page-transition')

    window.addEventListener("pageswap", (e) => {
        // if (e.viewTransition) {
        //     // transitionOverlay.dataset.active = "true"
        //     console.log('swap')
        // }
        
    })

    window.addEventListener("pagereveal", (e) => {
        // if (e.viewTransition) {
        //     console.log('reveal')
        // }
    })

    // window.addEventListener("DOMContentLoaded", () => {
    //     transitionOverlay.dataset.active = "false"
    //     console.log('load')
    // })

</script>

<style>
    #page-transition {
        view-transition-name: page-transition;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        min-height: 100dvh;
        width: 100%;
        background: green;
        opacity: 0;
        pointer-events: none;
    }

    ::view-transition-old(root),
    ::view-transition-new(root) {
        /* opacity: 1; */
        /* animation: linear 0.9s forwards transition-animation; */
    }

    ::view-transition-old(page-transition),
    ::view-transition-new(page-transition) {
        /* opacity: 1; */
        animation: linear 0.9s transition-animation both;
    }

    @keyframes transition-animation {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
</style>