---
const { footerLinks } = Astro.props
---
<footer>
    <h3>Domaine Footer</h3>
    {footerLinks.links.map((link) => (
        <a href={link.linkUrl} target={link.newTab ? "_blank" : "_self"}>{link.linkText} </a>
    ))}
</footer>