---
const { navigationLinks } = Astro.props;
// console.log(navigationLinks)
---
<header>
    <h3><a href="/staging">Domaine</a></h3>
    {navigationLinks.links.map((link) => (
        <a href={link.linkUrl}>{link.linkText} </a>
    ))}
</header>