---
const { navigationLinks } = Astro.props;
// console.log(navigationLinks)
---
<header>
    <h4><a href="/staging">Domaine</a></h4>
    <div class="navigation-links">
    {navigationLinks.links.map((link) => (
        <a href={link.linkUrl}>{link.linkText} </a>
    ))}
    </div>
</header>

<style>
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-inline: var(--page-margin);
        padding-block: var(--space-xs);
    }

    .navigation-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--space-xs);
    }
</style>